
/* entire container, keeps perspective */
.loyalty-card .flip-container {
  -webkit-perspective: 1000;
  perspective: 1000;
  cursor: pointer;
}

/* flip the pane when clicked */
.loyalty-card .flip-container.active .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.loyalty-card .flip-container, .front, .back {
  width : 100%;
}

/* flip speed goes here */
.loyalty-card .flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.loyalty-card .front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.loyalty-card .front {
  z-index: 5;
}