.menu-master {	
	
	.codrops-links {
		position: relative;
		display: flex;
		justify-content: center;
		text-align: center;
		white-space: nowrap;
		font-size: 0.85rem;
	}

	.codrops-icon {
		display: inline-block;
		padding: 0.25em;
	}

	.content__title {
		font-family: "sabbath-black", serif;
		font-size: 14vw;
		font-weight: normal;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-transform: lowercase;
		margin: 0;
		color: var(--color-title);
		z-index: 199;
	}

	.content__tagline {
		color: var(--color-tagline);
		margin: 1rem 0 0 0;
		font-weight: bold;
		font-size: 1rem;
		letter-spacing: 0.125rem;
		word-spacing: 0.25rem;
		text-transform: uppercase;
		text-align: center;
		z-index: 199;
	}

	.action {
		background: none;
		border: 0;
		color: #fff;
		cursor: pointer;
		padding: 0;
	}

	.action--menu {
		pointer-events: auto;
		position: absolute;
		top: .5rem;
		right: .5rem;
		z-index: 1000;
	}

	.menu--open .action--menu {
		pointer-events: none;
	}

	.action--close {
		position: absolute;
		top: 1.5rem;
		right: 1.75rem;
		z-index: 1000;
		opacity: 0;
		padding: 0 0.5rem;
	}

	.icon--menu {
		width: 2rem;
	}

	.icon--close {
		width: 1rem;
	}

	.menu {
		text-align: center;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(3,33.33%);
		pointer-events: none;
	}

	.menu--open {
		pointer-events: auto;
	}

	.menu__item {
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.menu__item-inner {
		overflow: hidden;
		transform: translate3d(100%,0,0);
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.menu__item--1 .menu__item-inner {
		background: var(--color-bg-item1);
	}
	.menu__item--2 .menu__item-inner {
		background: var(--color-bg-item2);
	}
	.menu__item--3 .menu__item-inner {
		background: var(--color-bg-item3);
	}
	.menu__item--4 .menu__item-inner {
		background: var(--color-bg-item4);
	}
	.menu__item--5 .menu__item-inner {
		background: var(--color-bg-item5);
	}

	.menu__item--4, 
	.menu__item--5 {
		display: none;
	}

	.label {
		display: none;
	}

	.mainmenu__item {
		opacity: 0;
	}

	.mainmenu__item,
	.sidemenu__item {
		position: relative;
		overflow: hidden;
		transition: color 0.1s;
		margin: 0.25rem 0;
		display: block;
	}

	.sidemenu__item-inner {
		display: block;
		transform: translate3d(0,100%,0);
	}

	.menu__item-map {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url(../img/2.jpg) no-repeat 50% 50%;
		background-size: cover;
		transition: transform 0.8s cubic-bezier(0.2,1,0.8,1);
	}

	.menu__item-inner:hover .menu__item-map {
		transform: scale3d(1.1,1.1,1);
	}

	.menu__item-hoverlink {
		font-weight: bold;
		text-transform: capitalize;
		position: relative;
		z-index: 1000;
		display: block;
	}

	.menu__item-hoverlink:hover {
		color: var(--color-link);
	}

	.quote {
		font-size: 2rem;
		padding: 1rem;
		text-align: center;
		max-width: 70%;
		color: var(--color-quote);
		font-family: "sabbath-black",serif;
	}

	.menu__item-link {
		text-align: left;
		align-self: flex-start;
		justify-self: start;
		font-size: 1.5rem;
		width: 100%;
		line-height: 1;
		padding: 2rem ;
		margin: 3rem 0 auto;
		display: flex;
		flex-direction: column;
		height: calc(100% - 3rem);
	}

	.menu__item-link::after {
		content: '\27F6';
		display: block;
		margin-top: auto;
		font-size: 0.95rem;
	}

	@media screen and (min-width: 53em) {
		body {
			padding: 0;
		}
		
		.info {
			margin: 0 6rem 0 0;
			color: var(--color-info);
		}
		.menu {
			width: 100%;
			height: 100vh;
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			grid-template-columns: 20% 30% 50%;
			grid-template-rows: 60% 40%;
			grid-template-areas: 
	            "item3 item2 item1"
	            "item4 item5 item1";
		}
		.menu__item {
			height: 100%;
		}
		.menu__item--1 {
			grid-area: item1;
		}
		.menu__item--2 {
			grid-area: item2;
		}
		.menu__item--3 {
			grid-area: item3;
		}
		.menu__item--4 {
			grid-area: item4;
		}
		.menu__item--5 {
			grid-area: item5;
		}
		.menu__item--4, 
		.menu__item--5 {
			display: block;
		}
		.menu__item-inner {
			align-items: center;
		}
		.label {
			display: block;
			color: var(--color-item-alt);
			position: absolute;
			z-index: 1000;
			font-size: 0.85rem;
			font-weight: bold;
			margin: 0;
			white-space: nowrap;
		}
		.label--topleft {
			top: 2rem;
			left: 2rem;
		}
		.label--vert,
		.label--vert-mirror {
			-webkit-writing-mode: vertical-rl;
			writing-mode: vertical-rl;
		}
		.label--vert-mirror {
			transform: rotate(180deg);
		}
		.label--bottomright {
			bottom: 2rem;
			right: 2rem;
		}
		.label::before {
			content: '------------- ';
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			letter-spacing: -1px;
			margin: 0 0.75rem 0 0;
		}
		.label--vert::before,
		.label--vert-mirror::before {
			margin: 0.75rem 0;
		}
		.mainmenu,
		.sidemenu {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.mainmenu {
			counter-reset: menuitem;
		}
		.mainmenu__item {
			font-size: 5vw;
			text-transform: lowercase;
			overflow: visible;
			margin: 0.5rem 0;
			padding: 0 0.5rem;
			position: relative;
			transition: color 0.3s;
		}
		.mainmenu__item:hover {
			color: var(--color-item-alt);
		}
		.mainmenu__item::before {
			counter-increment: menuitem;
			content: counters(menuitem, "", decimal-leading-zero);
			position: absolute;
		    font-size: 0.85rem;	
		    top: 25%;
		    left: -1.25rem;
		    color: var(--color-item-alt);
		}
		.mainmenu__item::after {
			content: '';
			width: 100%;
			top: 58%;
			height: 6px;
			background: var(--color-link-hover);
			position: absolute;
			left: 0;
			opacity: 0;
			transform: scale3d(0,1,1);
			transition: transform 0.3s, opacity 0.3s;
			transform-origin: 100% 50%;
		}
		.mainmenu__item:hover::after {
			opacity: 1;
			transform: scale3d(1,1,1);
		}
		.sidemenu__item {
			text-transform: uppercase;
			letter-spacing: 0.15rem;
			font-size: 0.85rem;
		}
		.menu__item-hoverlink {
			font-size: 1.25rem;
			text-transform: lowercase;
			border-bottom: 2px solid #fff;
			opacity: 0;
			transition: opacity 0.3s;
		}
		.menu__item-inner:hover .menu__item-hoverlink {
			opacity: 1;
		}
	}
}
