@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito+Sans:400,700,800");
@font-face {
  font-family: Brandon regular;
  src: url(../fonts/brandon_re.ttf); }
@font-face {
  font-family: Brandon bold;
  src: url(../fonts/Brandon_bld.otf); }
@font-face {
  font-family: mark pro bold;
  src: url(../fonts/MarkPro-Bold.otf); }
@font-face {
  font-family: amplesoft-reg;
  src: url(../fonts/amplesoft-reg.ttf); }
@font-face {
  font-family: amplesoft-bold;
  src: url(../fonts/amplesoft-bold.ttf); }
@font-face {
  font-family: amplesoft-light;
  src: url(../fonts/amplesoft-light.ttf); }
body, html {
  width: 100%;
  max-width: 100%;
  font-family: Open Sans;
  padding: 0px;
  margin: 0px;
  background: #f8f8f8; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

input:focus, select:focus, textarea:focus, button:focus, div:focus, div:active {
  outline: none;
  outline: 0; }

* {
  outline: none;
  outline: 0; }

.clear {
  clear: both; }

/* Page Loader */
.js .loader {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  pointer-events: none; }

.js .loader__inner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 100px;
  margin: -50px 0 0 -75px;
  pointer-events: none;
  background: url(../images/logo-gaspace.png) no-repeat 50% 50%;
  background-size: 100%;
  opacity: 0.2;
  animation: loaderAnim 0.7s linear infinite alternate forwards;
  transform-origin: 0% 100%; }

@keyframes loaderAnim {
  to {
    opacity: 1; } }
.menu-master {
  --color-text: #1c1b20;
  --color-bg: #252525;
  --color-link: #caa249;
  --color-link-hover: #caa249;
  --color-bg-item1: #fff;
  --color-bg-item2: #f8f8f8;
  --color-bg-item3: #c5b892;
  --color-bg-item4: #e0cf7d;
  --color-bg-item5: #f3eacc;
  --color-item-alt: #caa249;
  --color-quote: #675b46;
  --color-info: #57535a;
  --color-title: #e23434;
  --color-tagline: #e2e2e2;
  font-family: mark pro bold;
  color: #57585c;
  color: var(--color-text);
  background-color: #f8f8f8;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .menu-master .action {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 0; }
  .menu-master .action--menu {
    pointer-events: auto;
    position: fixed;
    top: -35px;
    right: 20px;
    z-index: 1002; }
  .menu-master .menu--open .action--menu {
    pointer-events: none; }
  .menu-master .action--close {
    position: fixed;
    top: -35px;
    right: 25px;
    z-index: 1002;
    opacity: 0;
    padding: 0 0.5rem; }
  .menu-master .icon--menu {
    width: 2rem; }
  .menu-master .icon--close {
    width: 1rem; }
  .menu-master .menu {
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33.33%);
    pointer-events: none; }
  .menu-master .menu--open {
    pointer-events: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    transition: all .32s ease-in-out; }
  .menu-master .menu__item {
    width: 100%;
    position: relative;
    overflow: hidden; }
  .menu-master .menu__item-inner {
    overflow: hidden;
    transform: translate3d(100%, 0, 0);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .menu-master .menu__item--1 .menu__item-inner {
    background: var(--color-bg-item1); }
  .menu-master .menu__item--2 .menu__item-inner {
    background: var(--color-bg-item2); }
  .menu-master .menu__item--3 .menu__item-inner {
    background: var(--color-bg-item3); }
  .menu-master .menu__item--4 .menu__item-inner {
    background: var(--color-bg-item4); }
  .menu-master .menu__item--5 .menu__item-inner {
    background: var(--color-bg-item5); }
  .menu-master .menu__item--4,
  .menu-master .menu__item--5 {
    display: none; }
  .menu-master .label {
    display: none; }
  .menu-master .mainmenu__item {
    opacity: 0; }
  .menu-master .mainmenu__item,
  .menu-master .sidemenu__item {
    position: relative;
    overflow: hidden;
    transition: color 0.1s;
    margin: 0.25rem 0;
    display: block;
    font-size: 21px; }
  .menu-master .sidemenu__item-inner {
    display: block;
    transform: translate3d(0, 100%, 0); }
  .menu-master .menu__item-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/menu-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.8, 1); }
  .menu-master .menu__item-inner:hover .menu__item-map {
    transform: scale3d(1.1, 1.1, 1); }
  .menu-master .menu__item-hoverlink {
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    z-index: 1000;
    display: block; }
  .menu-master .menu__item-hoverlink:hover {
    color: var(--color-link); }
  .menu-master .quote {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 160%;
    text-align: center;
    max-width: 70%;
    color: var(--color-quote);
    font-family: mark pro bold; }
  .menu-master .menu__item-link {
    text-align: left;
    align-self: flex-start;
    justify-self: start;
    font-size: 1.5rem;
    width: 100%;
    line-height: 1;
    padding: 2rem;
    margin: 3rem 0 auto;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem); }
  .menu-master .menu__item-link::after {
    content: '\27F6';
    display: block;
    margin-top: auto;
    font-size: 0.95rem; }
  @media screen and (min-width: 53em) {
    .menu-master body {
      padding: 0; }
    .menu-master .info {
      margin: 0 6rem 0 0;
      color: var(--color-info); }
    .menu-master .menu {
      width: calc(100% - 80px);
      height: calc(100vh - 80px);
      overflow: hidden;
      position: fixed;
      top: 40px;
      left: 40px;
      grid-template-columns: 20% 30% 50%;
      grid-template-rows: 60% 40%;
      grid-template-areas: "item3 item2 item1" "item4 item5 item1"; }
    .menu-master .menu__item {
      height: 100%; }
    .menu-master .menu__item--1 {
      grid-area: item1; }
    .menu-master .menu__item--2 {
      grid-area: item2; }
    .menu-master .menu__item--3 {
      grid-area: item3; }
    .menu-master .menu__item--4 {
      grid-area: item4; }
    .menu-master .menu__item--5 {
      grid-area: item5; }
    .menu-master .menu__item--4,
    .menu-master .menu__item--5 {
      display: block; }
    .menu-master .menu__item-inner {
      align-items: center; }
    .menu-master .label {
      display: block;
      color: #fff;
      position: absolute;
      z-index: 1000;
      font-size: 0.85rem;
      font-weight: bold;
      margin: 0;
      white-space: nowrap; }
    .menu-master .label--topleft {
      top: 2rem;
      left: 2rem; }
    .menu-master .label--vert,
    .menu-master .label--vert-mirror {
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl; }
    .menu-master .label--vert-mirror {
      transform: rotate(180deg); }
    .menu-master .label--bottomright {
      bottom: 2rem;
      right: 2rem; }
    .menu-master .label::before {
      content: '------------- ';
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      letter-spacing: -1px;
      margin: 0 0.75rem 0 0; }
    .menu-master .label--vert::before,
    .menu-master .label--vert-mirror::before {
      margin: 0.75rem 0; }
    .menu-master .mainmenu,
    .menu-master .sidemenu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .menu-master .mainmenu {
      counter-reset: menuitem; }
    .menu-master .mainmenu__item {
      font-size: 5vw;
      text-transform: lowercase;
      overflow: visible;
      margin: 0.5rem 0;
      padding: 0 0.5rem;
      position: relative;
      transition: color 0.3s; }
    .menu-master .mainmenu__item:hover {
      color: var(--color-item-alt); }
    .menu-master .mainmenu__item::before {
      counter-increment: menuitem;
      content: counters(menuitem,"",decimal-leading-zero);
      position: absolute;
      font-size: 0.85rem;
      top: 25%;
      left: -1.25rem;
      color: var(--color-item-alt); }
    .menu-master .mainmenu__item::after {
      content: '';
      width: 100%;
      top: 56%;
      height: 6px;
      background: var(--color-text);
      position: absolute;
      left: 0;
      opacity: 0;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s, opacity 0.3s;
      transform-origin: 100% 50%; }
    .menu-master .mainmenu__item:hover::after {
      opacity: 1;
      transform: scale3d(1, 1, 1); }
    .menu-master .sidemenu__item {
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      font-size: 0.85rem; }
    .menu-master .menu__item-hoverlink {
      font-size: 1.25rem;
      text-transform: lowercase;
      border-bottom: 2px solid #fff;
      opacity: 0;
      transition: opacity 0.3s; }
    .menu-master .menu__item-inner:hover .menu__item-hoverlink {
      opacity: 1; } }

/*# sourceMappingURL=menu-component.css.map */
