
// - - - - - - - - - - - - - - - - - - - - - - - -  //
// - - - - - - -  B A S E . S C S S - - - - - - - -  //
// - - - - - - - - - - - - - - - - - - - - - - - - - //


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito:400,700,800');
@font-face { font-family: Brandon regular; src: url(../fonts/brandon_re.ttf); }
@font-face { font-family: Brandon bold; src: url(../fonts/Brandon_bld.otf); }
@font-face { font-family: mark pro bold; src: url(../fonts/MarkPro-Bold.otf); }
@font-face { font-family: amplesoft-reg; src: url(../fonts/amplesoft-reg.ttf); }
@font-face { font-family: amplesoft-bold; src: url(../fonts/amplesoft-bold.ttf); }
@font-face { font-family: amplesoft-light; src: url(../fonts/amplesoft-light.ttf); }

$a-light : amplesoft-light;
$a-reg : amplesoft-reg;
$a-bold : amplesoft-bold;
$mp-bold : mark pro bold;
$opensans : Open Sans;
$nunito : Nunito;
$bb-bold : Brandon bold;
$bb-reg : Brandon regular;

$black : #393e45;
$blue : #4c73e0;
$dark-blue : #3a4cb3;
$light-grey : #bbc7d0;
$bg-color : #eff2f5;
$dark-blue : #4c6888;
$tosca : #5bcbb5;
$red : #ff6b6b;

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

body, html {
  width: 100%;
  max-width : 100%;
  font-family: $opensans;
  padding : 0px;
  margin : 0px;
  background : $bg-color;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
  outline: 0;
  background-color: none;
}

input:focus, select:focus, textarea:focus, button:focus, div:focus, div:active {
  outline: none;
  outline: 0;
}

* {
  outline: none;
  outline: 0;
}


.clear {
  clear : both;
}

// ::-webkit-scrollbar {
//     width: 15px;
//     border-radius: 20px;
//     padding : 10px 2px;
//     background : none;
    
// }
// ::-webkit-scrollbar-track {
//     background : none;
//     box-shadow: inset 0 0 15px 15px transparent;
//     border: solid 5px transparent;
// }
// ::-webkit-scrollbar-thumb {
//     box-shadow: inset 0 0 15px 15px rgba(44,44,44,0.5);
//     border: solid 5px transparent;
//     border-radius: 20px;

//     &:hover {
//     box-shadow: inset 0 0 15px 15px rgba(44,44,44,0.9);
//   }
// }

/* Page Loader */
  .js .loader {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background : #fff;
    pointer-events: none;
  }

  .js .loader__inner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 100px;
    margin: -50px 0 0 -75px;
    pointer-events: none;
    background: url(../images/logo-gaspace.png) no-repeat 50% 50%;
    background-size: 100%;
    opacity: 0.2;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
    transform-origin: 0% 100%;
  }

  @keyframes loaderAnim {
    to {
      opacity: 1;
    }
  }



h1, h2, h3, h4, h5, h6 {
  padding: 0.1rem 0 0;
  margin: 0;
  font-weight: 600;
}

.h2,
h2 {
  font-size: 1.88rem;
}

.h3,
h3 {
  font-size: 1.46rem;
}

.h4,
h4 {
  font-size: 1.03rem;
}

.h5,
h5 {
  font-size: .9rem;
}

.h6,
h6 {
  font-size: 0.8rem;
}

.display-1, .display-2, .display-3, .display-4, .display-5 {
  font-weight: 400;
}

.display-1 {
  font-size: 3.75rem;
  @media (max-width: 991px) {
    font-size: 2.6rem;
  }
}

.display-2 {
  font-size: 3.125rem;
  @media (max-width: 991px) {
    font-size: 2.2rem;
  }
}

.display-3 {
  font-size: 2.5rem;
  @media (max-width: 991px) {
    font-size: 1.8rem;
  }
}

.display-4 {
  font-size: 1.875rem;
  @media (max-width: 991px) {
    font-size: 1.4rem;
  }
}

.display-5 {
  font-size: 1.25rem;
  @media (max-width: 991px) {
    font-size: 1.2rem;
  }
}

.navbar-top {
  position: fixed;
  width: calc(100% - 0px);
  padding: 14px 20px;
  background: transparent;
    box-shadow: none;
    z-index: 99;

    &::after {
      position: absolute;
      width: 100%;
      height: 60px;
      top: 0;
      left: 0;
      content: '';
      box-shadow: 0px 3px 7px rgba(101,111,130, 0.22);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      background: $blue;
      transition: all .32s ease-in-out;
      transform: translateY(-110%);
      z-index: 1;
    }

    .right-frame {
      float: right;
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid #fff;
      text-align: center;
      line-height: 32px;
      vertical-align: bottom;
      overflow: hidden;
      z-index: 2;
      transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); 

      i {
        font-size: 22px;
        color: #fff;
      }
    }

    .center-logo {
      position: absolute;
      //left: calc((100% - 120px) / 2);
      left: 20px;
      width : 160px;
      height: 37px;
      z-index: 2;
      background-image: url('../images/smartcart-logo.png');
      background-size: cover;
    }

    &.active {

      &::after {
        transform: translateY(0%);
        transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); 
      }
    }

}

.navbar-bottom {
  width: calc(100% - 0px);
  position: fixed;
  left: 8px;
  bottom: 0;
  z-index: 99;
  padding: 0 15px;
  background: #fff;
    box-shadow: 0 0 9px 0px rgba(101,111,130, 0.22);

  .list {
    padding: 15px 0;
    padding-bottom: 15px;
    text-align:center;
    transition: all .2s ease-in-out;

    &.selected {
      .icon {
        opacity: 1;
        transition: all .2s ease-in-out;

        &::after {
          position: absolute;
          bottom: -8px;
          left: 15%;
          width: 70%;
          height: 3px;
          border-radius: 3px;
          content: '';
          background: transparent;
        }
      }
      .label {
        font-weight: 600;
        color: $dark-blue;
      }
    }

    &:nth-child(1) .icon{
      background-image: url('../images/navbar-home.png');
    }
    &:nth-child(2) .icon{
      background-image: url('../images/navbar-shop.png');
    }
    &:nth-child(3) .icon{
      background-image: url('../images/navbar-promo.png');
    }
    &:nth-child(4) .icon{
      background-image: url('../images/navbar-wallet.png');
    }
    .icon {
      width: 24px;
      height: 24px;
      margin: 0 auto;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.5;
      margin-bottom: 4px;
      transition: all .32s ease-in-out;
    }

    .label {
      font-family: $nunito;
      font-size: .8rem;
      display: block;
      text-transform: lowercase;
      color: #647d9a;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;

  &.first-row {
    margin-top: 70px;
  }

  &.first-row-title {
    margin-top: 100px;
  }

  .inside-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 8px;
    margin-left: 8px;
  }
}


.col-4, .col-3, .col-5, .col-6, .col-7, .col-8, .col-9, .col-12, .col-24 {
  padding-right: 8px;
  padding-left: 8px;
  flex: 1;
  position : relative;
}

.col-24 {
  max-width: 20vw;
}

.col-3 {
  max-width: 25vw;
}
.col-4 {
  max-width: 33.33333vw;
}
.col-5 {
  max-width: 41.66667vw;
}
.col-6 {
  max-width: 50vw;
}
.col-7 {
  max-width: 58.33333vw;
}
.col-8 {
  max-width: 66.66667vw
}
.col-9 {
  max-width: 75vw
}
.col-12 {
  max-width: 100vw;
}

.card {
  position : relative;
  float : left;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 14px;
  border-radius: 6px;
  background : #fff;
  box-shadow: 5px 3px 9px 0px rgba(126, 142, 174, 0.22);
  overflow : hidden;

  transition: all .32s linear; 
}

.card:hover {
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); 
}

.card .card-body{
  padding : 18px;
}


.p-18 {
  padding: 12px 18px;
}

.p-15 {
  padding: 12px 15px;
}

.p-10 { 
  padding: 10px;

  &.center {
    text-align: center;
  }
}

.divider-title {
  padding: 20px 0;
  padding-bottom: 20px;
  padding-left: 18px;
  width: calc(100% - 20px);
  position: relative;
  font-family: $nunito;

  .title {
    color: $black;
    display: inline-block;
    position: relative;
    background: transparent;
    color: $black;
    z-index: 2;
    font-weight: 500;
    padding-right: 20px;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: none;
    border: 1px dashed none;
    bottom: 20px;
    left: 20px;
    content: '';
    z-index: 1;
  }

  .right {
    position: absolute;
    right: 0px;
    top: 14px;
    font-size: 1.4rem;
    color: $blue;
  }
}


.master-body {
  background-color: $bg-color;
  max-width: 100%;
  overflow: hidden;
  transition : all .2s ease-in-out;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  color: $black;

  .header {
    width: 100%;
    position: absolute;
    height: 50vw;
    max-height: 400px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0px -10px 10px rgba(126, 142, 174, 0.32);
    background: $blue;

    &.index {
      background: url('../images/header-background.png') $blue;
      background-size: 68vw;
      max-height: 360px;
      background-position: bottom right;
      background-repeat: no-repeat;
    }

    &.loyalty {
      background: url('../images/header-background.png') $blue;
      background-size: 68vw;
      max-height: 170px;
      background-position: bottom right;
      background-repeat: no-repeat;
    }

    &.sub-menu {
      background: url('../images/header-background.png') $blue;
      background-size: 50vw;
      height: 50vw;
      max-height: 400px;
      background-position: bottom right;
      background-repeat: no-repeat;
    }

    .bottom-image {
      width: 100%;
      height: 80px;
      background: url('../images/header-bottom.png');
      background-size: 100%;
      background-position: bottom center;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0px;
      left: 0;

    }
  }

  .welcome-title {
    color: #fff;
    font-family: $nunito;
    font-weight: 300;
    padding-bottom: 10px;
  }

  .slider-frame {
    width: calc(100% - 0px);
    position : relative;
    overflow-x: scroll;
    padding-top: 5px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
      }

    .overflow {
      position: relative;
      width : calc(75vw * 6.8);
    }

    .overflow-full-pict {
      position: relative;
      width : calc(50vw * 6.2);
    }

    .overflow-category {
      width : calc(20vw * 8);
      padding : 10px;
      padding-bottom: 15px;
    }

    .overflow-coupon {
      position: relative;
      width : calc(75vw * 5.2);
    }

    .overflow-brand-sm {
      position: relative;
      width : calc(25vw * 5.2);
      padding-bottom: 10px;
    }

    .overflow-sl-sm {
      position: relative;
      width: calc(75vw * 4.2);
    }

    .overflow-merchant {
      position: relative;
      width: calc(33.3333vw *6.4);
    }




    .promo-col {

      min-height: 100%;
      &:nth-child(1) {
        
        margin-left: 18px;
        .images {
          background-image: url('../images/promo-1.jpg');
        }
      }
      &:nth-child(2) .images {
        background-image: url('../images/promo-2.jpg');
      }
      &:nth-child(3) .images {
        background-image: url('../images/promo-3.jpg');
      }
      &:nth-child(4) .images {
        background-image: url('../images/promo-4.jpg');
      }
      &:nth-child(5) .images {
        background-image: url('../images/promo-5.jpg');
      }
      &:nth-child(6) .images {
        background-image: url('../images/promo-6.jpg');
      }


      &.col-9 {
        padding-right: 12px;
        padding-left: 12px;
      }

      .thumbnail {
        position : relative;
        float : left;
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 14px;
        border-radius: 8px;
        transition: all 240ms cubic-bezier(.17,.67,1,1.23); 

        &:active {
          transform: scale(0.94);
          transition: all 120ms cubic-bezier(.17,.67,1,1.23); 
        }

        .images {
          width: 100%;
          height: 140px;
          position: relative;
          background-size: cover;
          background-position: center;
          box-shadow: 3.5px 7px 12px 0px rgba(126, 142, 174, 0.38);
          border-radius: 10px;
          z-index: 2;
        }

        .content {
          width: 100%;
          height: 85px;
          position: relative;
          margin-top: -8px;
          background: #fff;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;

          .left {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 12px 12px;

            h5,h4 {
              color: $black;
              font-family: $nunito;
              font-size: .95rem;
            }

            .date {
              font-size: .7rem;
              color: $light-grey;
            }
          }

          .right {
            position: absolute;
            right: 20px;
            top: -20px;
            z-index: 5;

            .circle-frame {
              width: 44px;
              height: 44px;
              border-radius: 50%;
              text-align: center;
              vertical-align: middle;
              line-height: 35px;
              font-size: 1.1rem;
              color: #fff;
              text-shadow: 0 2px rgba(0,0,0,0.1);
              border : 4px solid rgba(0,0,0,0.2);

              &.type-1 {
                background: #df2d5b;
              }
              &.type-2 {
                background: #49a3ef;
              }
              &.type-3 {
                background: #61c56b;
              }
            }
          }
        }
      }
    }

    .full-pict-col {

      min-height: 100%;
      &:nth-child(1) {
        
        margin-left: 18px;
        .images {
          background-image: url('../images/promo-loc-jakarta.jpg');
        }
      }

      &:nth-child(2) .images {
        background-image: url('../images/promo-loc-bogor.jpg');
      }
      &:nth-child(3) .images {
        background-image: url('../images/promo-loc-yogya.jpg');
      }
      &:nth-child(4) .images {
        background-image: url('../images/promo-loc-bandung.jpg');
      }
      &:nth-child(5) .images {
        background-image: url('../images/promo-loc-surabaya.jpg');
      }
      &:nth-child(6) .images {
        background-image: url('../images/promo-loc-malang.jpg');
      }

      &:active {
        transform: scale(0.94);
        transition: all 120ms cubic-bezier(.17,.67,1,1.23); 
      }

      &.col-6 {
        padding-right: 12px;
        padding-left: 12px;
      } 
      
      .full-pict {
        position : relative;
        float : left;
        min-width: 100%;
        height: 190px;
        margin-bottom: 14px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 3.5px 7px 12px 0px rgba(126, 142, 174, 0.32);
        transition: all 240ms cubic-bezier(.17,.67,1,1.23); 

        &::after {
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(32,35,38,0) 0%, rgba(34,37,42,0.5) 70%, rgba(35,38,43,0.9) 100%);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          content: '';
        }

        .images {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
        }

        .content {
          position: relative;
          width: 100%;
          height: 100%;



          .title {
            position: absolute;
            bottom: 15px;
            left: 15px;
            z-index: 3;
            font-family: $nunito;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.32);

            .icon {
              margin-top: -5px;
              font-size: .8rem;
              opacity: 1;
            }
          }
        }
      }
    }

    .view-more {
      background: none;
      color: $blue;
      width: 120px;
      margin-left: 10px;
      margin-top: 9vw;
      padding: 35px 0;
      text-align: center;
      box-shadow: 0 0 rgba(0,0,0,0);
      border: 2px dashed $light-grey;

      i {
        width: 40px;
        height: 40px;
        background: #fff;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 50%;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        margin-bottom: 10px;
      }
    }

    .category-col {
      text-align: center;

      &::before { 
        position: absolute;
        top: 0px;
        left: calc((100% - 45px) / 2);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #dce4f5;
        content: '';
        z-index: 0; 
      }

      &:nth-child(1) {
        margin-left: 18px;
        .images {
          background-image: url('../images/category-icon-1.png');
        }
      }
      &:nth-child(2) .images {
        background-image: url('../images/category-icon-2.png');
      }
      &:nth-child(3) .images {
        background-image: url('../images/category-icon-3.png');
      }
      &:nth-child(4) .images {
        background-image: url('../images/category-icon-4.png');
      }
      &:nth-child(5) .images {
        background-image: url('../images/category-icon-5.png');
      }
      &:nth-child(6) .images {
        background-image: url('../images/category-icon-6.png');
      }
      &:nth-child(7) .images {
        background-image: url('../images/category-icon-7.png');
      }

      .images {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        position: relative;
        background-size: cover;
        background-position: center;
        z-index: 2;
      }

      .title {
        font-family: $nunito;
        padding-top: 10px;
        font-size: .8rem;
        color: $black;
      }
    }

    .coupon-col {
      padding: 0 12px;
      &:nth-child(1) {
        margin-left: 18px;
      }
    }

    .brand-sm-col {
      // padding: 0 12px;
      &:nth-child(1) {
        margin-left: 18px;
      }

      .icon {
        width : 60px;
        height: 60px;
        border-radius: 6px;
        overflow: hidden;
        margin: 0 auto;
        background: transparent;
        margin-bottom: 8px;

        img {
          width: 100%;
        }
      }

      .disc-info {
        width: 100%;
        text-align: center;
        font-size: .9rem;
        font-family: $nunito;
        font-weight: 600;
        color: $dark-blue;
      }
    }
  }

  .sl-sm-col {
    position: relative;
    &:nth-child(1) {
      margin-left: 18px;
    }

    .image {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 6px;
      float: left;

      img {
        width: 100%;
      }
    }

    .content {
      width: calc(100% - 70px);
      float: right;
      position: relative;
      font-family: $nunito;

      .name {
        font-size: .9rem;
      }

      .price {
        font-size: .7rem;
        font-weight: 600;
        color: $blue;
      }

      .add-item-box {
        width : 60px;
        height: 22px; 
        font-size: .8rem;
        float: right;

        .icon, .center {
          float: left;
          text-align: center;
          border-radius: 50%;
          width: calc(33% - 0px);
        }

        .icon {
          background: #eee;
          color: $dark-blue;
        }

        .center {

        }
      }
    }
  }

  .merchant-col {
    text-align: center;

    &:nth-child(1) {
      margin-left: 18px;
    }

    .images {
      width: 100%;
    }

    .content {
      width: 100%;
      position: relative;
      margin-top: 5px;
      font-family: $nunito;
        display: none;

      .title {
        font-size: 1rem;
      }

      .subtitle {
        padding-top: 2px;
        font-size: .8rem;

        i {
          color: $blue;
          margin: 0 0px;
        font-size: .5rem;
        }
      }
    }
  }

  .sc-master-icon {
    background-image: url('../images/icon-dollar.png');
    background-size: cover;
  }

  .coupon-frame {
    border: 1px solid rgba(22,22,22, 0.08);
    box-shadow: 5px 3px 9px 0px rgba(126, 142, 174, 0.22);
    font-family: $nunito;
    overflow: visible;
    background: #fff;

    &.type-1 {
      border-top: 3px solid #df2d5b;
      background: #fff6f8;
      box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    &.type-2 {
      border-top: 3px solid #49a3ef;
      background: #ebf3f9;
      box-shadow: 0 0 0 rgba(0,0,0,0);  
    }
    &.type-3 {
      border-top: 3px solid #61c56b;
      background: #f3fff4;
      box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    &.type-4 {
      border-top: 3px solid #6b4eca;
      background: #f8f6ff;
      box-shadow: 0 0 0 rgba(0,0,0,0);
    }

    .padding {
      padding: 15px 20px;
    }

    .tenant-info {
      width: 100%;
      position: relative;

      .logo {
        width: 42px;
        height: 42px;
        overflow: hidden;
        border-radius: 4px;
        float: left;

        img {
          width: 100%;
        }
      }

      .title {
        width: calc(100% - 55px);
        right: 0px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        font-size: 1rem;
        font-weight: 600;
      }
    }

    .disc-info {
      padding: 10px 0;
      padding-bottom: 10px;
      h4 {
        font-size: 1.2rem;
      }
      div {
        padding-top: 5px;
        font-size: .8rem;
        line-height: 120%;
      }
    }

    .footer {
      width: 100%;
      padding-top: 5px;
      position: relative;

      &::after, &::before {
        width: 30px;
        height: 30px;
        background: $bg-color;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        content: '';
      }

      &::after {
        left: -35px;
      }
      &::before {
        right: -35px;
      }

      .border-top {
        width : 94%;
        margin: 0 auto;
        border-bottom: 2px dashed rgba(11,11,11,0.25);
        margin-bottom: 10px;
      }

      .icon {
        float: left;
        width: 30px;
        height: 20px;
        font-size: 1.2rem;
        color: $blue;
      }

      .text {
        float: left;
        width: calc(100% - 40px);
        font-size: .95rem;
        color: rgba(0,0,0,0.4);

        div {
          font-size: .7rem;
          color: $black;
          font-weight: 600;
        }
      }
    }
  }

  .footer-frame {
    width : 100%;
    height : 140px;
    margin-bottom: 35px;
    background-image: url('../images/footer-pattern.png');
    background-position: center bottom;
    background-size: cover;
  }

}

$graph-emot-stat-1 : #e85d56;
$graph-emot-stat-2 : #f1be6f;
$graph-emot-stat-3 : #ddf16f;
$graph-emot-stat-4 : #92ea67;
$graph-emot-stat-5 : #3acc78;

.graph-emoticon-frame {
  width: 100%;
  position: relative;
  font-family: $nunito;

  &.stat-1 .numbers .title{
    color: $graph-emot-stat-1; 
  }
  &.stat-2 .numbers .title{
    color: $graph-emot-stat-2; 
  }
  &.stat-3 .numbers .title{
    color: $graph-emot-stat-3; 
  }
  &.stat-4 .numbers .title{
    color: $graph-emot-stat-4; 
  }
  &.stat-5 .numbers .title{
    color: $graph-emot-stat-5; 
  }

  .title-top {
    font-size: 1rem;
  }

  .content {
    width: 100%;
    position: relative;
    padding-top: 5px;

    .graph {
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      width: calc(100% - 75px);

      .body {
        width: calc(20% + 17px);
        height: 18px;
        float: left;
        border-radius: 18px;
        margin-left: -17px;
        position: relative;

        &:nth-child(1){
          background: $graph-emot-stat-1;
          margin-left: 0;
          width: 20%;
          z-index: 5;
        }
        &:nth-child(2){
          background: $graph-emot-stat-2;
          z-index: 4;
        }
        &:nth-child(3){
          background: $graph-emot-stat-3;
          z-index: 3;
        }
        &:nth-child(4){
          background: $graph-emot-stat-4;
          z-index: 2;
        }
        &:nth-child(5){
          background: $graph-emot-stat-5;
          z-index: 1;
        }
      }

      .body-active {
        position: absolute;
        top: 7px;
        width: 82%;
        left: 9%;
        z-index: 6;

        .line {
          height: 4px;
          min-width: 10px;
          border-radius: 10px;
          background: rgba(255,255,255,0.75);
          position: relative;

          img {
            width: 34px;
            height: 34px;
            background: rgba(255,255,255,0.95);
            box-shadow: 3.464px 2px 8px 0px rgba(41,41,41, 0.2);
            position: absolute;
            padding: 4px;
            right: -10px;
            top: -15px;
            border-radius: 50%;
          }
        }
      }
    }

    .numbers {
      position: relative;
      float: right;
      width: 70px;
      text-align: center;

      .title {
        font-size: 1.75rem;
        line-height: 100%;
        font-weight: 600;
      }
      .desc {
        font-size: .8rem;
        font-weight: 300;
      }
    }
  }
}

.search-bar-sticky {
  top: 68px;
  width: calc(100% - 4px);
  position: sticky;
  position: -webkit-sticky;
  font-family: $nunito;
  color: $dark-blue;
  margin : 0 auto;
  z-index: 90;

  .col-12 {
    padding: 0 16px !important;
  }

  .input-search {
    outline: 0;
    border: 0;
    background: 0;
    padding: 0px 10px;
    float: left;
    width: calc(100% - 80px);
    font-size: 1rem;
    color: $dark-blue;

    &::placeholder {
      color: $light-grey;
      font-weight: 200;
      font-size: 1rem;
      font-family: $nunito;
    }
  }

  i.left {
    width: 20px;
    float: left;
  }

  i.right {
    width: 20px;
    float: right;
  }
}

.popup {
  $radius : 16px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 100vw;
  padding: 0 8px;
  left: 0;
  min-height: 350px;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  box-shadow: 0 0 0 999px rgba(0,0,0,.3);

  visibility: hidden;
  opacity: 0;
  transition: all .32s;
  bottom: -150px;

  .button-close {
    position: absolute;
      top: -15px;
      right: 15px;
      height: 35px;
      width: 35px;
      font-size: 18px;
      background-color: darken($red,5%);
      border: 5px solid rgba(0,0,0,0);
      border-radius: 50px;
      text-align: center;
      /* line-height: 20px; */
      color: #fff;
  }

  &-header {
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    h3 {
      font-weight: 500;
    }
  }

  &-body {
    position: relative;
    width: 100%;

    .start-input, .end-input {
      margin-bottom: 8px;
      // display: inline-block;

      .input {
        background-color: $dark-blue;
        padding: 0 5px;
        border-radius: 3px;
        color: #fff;
        margin-top: 3px;
      }

      input[type=date] {
          height: 35px;
          margin: 0 auto;
          width: calc(94% - 10px);
          font-family: $nunito;
          font-size: 17px;
          /* font-weight: bold; */
          /* text-transform: uppercase; */
          background-color: transparent;
          outline: none;
          border: 0;
          padding: 0 3px;
          color: #fff;
      }
    }

    .payment-method {
      margin-top: 65px;
      .card {
        min-height: 130px;
        background-color: #fff;
        color: $black;
        margin-bottom: 15px;
        transition: all .3s;

        &:nth-child(1) {
          // background-color: #a68dea;
        }
        &:nth-child(2) {
          // background-color: #20e084;
        }

        &.ovo.active {
          // border: 4px solid darken(#a68dea,10%);
          background-color: lighten(#6539b3,10%);
          color: #fff;
          box-shadow: 0 4px 12px rgba(98, 12, 228, .3);
          transition: all .3s;

          .dot {
            background-color: lighten(#6539b3,18%);
            border-color: darken(#6539b3,10%);
          }
        }

        &.gojek.active {
          // border: 4px solid darken(#20e084,10%);
          background-color: lighten(#20e084,10%);
          color: #fff;
          box-shadow: 0 4px 12px rgba(73, 243, 161, .5);
          transition: all .3s;

          .dot {
            background-color: #20e084;
            border-color: darken(#20e084,10%);
          }
        }

        .dot {
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translate(0,-50%);
          height: 20px;
          width: 20px;
          background-color: $black;
          border-radius: 50px;
          border: 5px solid #ddd;
        }
      }
      .text {
        font-family: $nunito;
        font-size: 20px;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%,0);
      }
      .icon {

        &.ovo {
          padding-top: 10px;

          img {
            height: 55px;
          }
        }

        &.gojek {
          padding-top: 20px;

          img {
            height: 35px;
          }
        }
      }
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;

    h5 {
      font-weight: 400;
      color: $black;
      margin-bottom: 8px;
      text-align: center;
      width: 86%;
      font-family: $nunito;
    }

    button {
      width: 86%;
      height: 35px;
      border: none;
      border-radius: 4px;
      padding: 5px;
      background-color: $blue;
      color: #fff;
      font-size: 18px;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
    bottom: 0;
  }
}

















