// loyalty page

@import 'base';

.row.row-cs-1 {
	margin: 10px 0;
	margin-top: 90px;
	margin-bottom: 0px;
	font-family: $nunito;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

	.col-cs {
		.background {
			background-image: url('../images/icon-target.png');
		}
	}
}

.row.row-cs-2 {
	margin-top: 20px;
   img {
   		width: 100%;
   }
}


























