@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito:400,700,800");
@font-face {
  font-family: Brandon regular;
  src: url(../fonts/brandon_re.ttf); }
@font-face {
  font-family: Brandon bold;
  src: url(../fonts/Brandon_bld.otf); }
@font-face {
  font-family: mark pro bold;
  src: url(../fonts/MarkPro-Bold.otf); }
@font-face {
  font-family: amplesoft-reg;
  src: url(../fonts/amplesoft-reg.ttf); }
@font-face {
  font-family: amplesoft-bold;
  src: url(../fonts/amplesoft-bold.ttf); }
@font-face {
  font-family: amplesoft-light;
  src: url(../fonts/amplesoft-light.ttf); }
body, html {
  width: 100%;
  max-width: 100%;
  font-family: Open Sans;
  padding: 0px;
  margin: 0px;
  background: #eff2f5;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
  outline: 0;
  background-color: none; }

input:focus, select:focus, textarea:focus, button:focus, div:focus, div:active {
  outline: none;
  outline: 0; }

* {
  outline: none;
  outline: 0; }

.clear {
  clear: both; }

/* Page Loader */
.js .loader {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  pointer-events: none; }

.js .loader__inner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 100px;
  margin: -50px 0 0 -75px;
  pointer-events: none;
  background: url(../images/logo-gaspace.png) no-repeat 50% 50%;
  background-size: 100%;
  opacity: 0.2;
  animation: loaderAnim 0.7s linear infinite alternate forwards;
  transform-origin: 0% 100%; }

@keyframes loaderAnim {
  to {
    opacity: 1; } }
h1, h2, h3, h4, h5, h6 {
  padding: 0.1rem 0 0;
  margin: 0;
  font-weight: 600; }

.h2,
h2 {
  font-size: 1.88rem; }

.h3,
h3 {
  font-size: 1.46rem; }

.h4,
h4 {
  font-size: 1.03rem; }

.h5,
h5 {
  font-size: .9rem; }

.h6,
h6 {
  font-size: 0.8rem; }

.display-1, .display-2, .display-3, .display-4, .display-5 {
  font-weight: 400; }

.display-1 {
  font-size: 3.75rem; }
  @media (max-width: 991px) {
    .display-1 {
      font-size: 2.6rem; } }

.display-2 {
  font-size: 3.125rem; }
  @media (max-width: 991px) {
    .display-2 {
      font-size: 2.2rem; } }

.display-3 {
  font-size: 2.5rem; }
  @media (max-width: 991px) {
    .display-3 {
      font-size: 1.8rem; } }

.display-4 {
  font-size: 1.875rem; }
  @media (max-width: 991px) {
    .display-4 {
      font-size: 1.4rem; } }

.display-5 {
  font-size: 1.25rem; }
  @media (max-width: 991px) {
    .display-5 {
      font-size: 1.2rem; } }

.navbar-top {
  position: fixed;
  width: calc(100% - 0px);
  padding: 14px 20px;
  background: transparent;
  box-shadow: none;
  z-index: 99; }
  .navbar-top::after {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    content: '';
    box-shadow: 0px 3px 7px rgba(101, 111, 130, 0.22);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #4c73e0;
    transition: all .32s ease-in-out;
    transform: translateY(-110%);
    z-index: 1; }
  .navbar-top .right-frame {
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    text-align: center;
    line-height: 32px;
    vertical-align: bottom;
    overflow: hidden;
    z-index: 2;
    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); }
    .navbar-top .right-frame i {
      font-size: 22px;
      color: #fff; }
  .navbar-top .center-logo {
    position: absolute;
    left: 20px;
    width: 160px;
    height: 37px;
    z-index: 2;
    background-image: url("../images/smartcart-logo.png");
    background-size: cover; }
  .navbar-top.active::after {
    transform: translateY(0%);
    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); }

.navbar-bottom {
  width: calc(100% - 0px);
  position: fixed;
  left: 8px;
  bottom: 0;
  z-index: 99;
  padding: 0 15px;
  background: #fff;
  box-shadow: 0 0 9px 0px rgba(101, 111, 130, 0.22); }
  .navbar-bottom .list {
    padding: 15px 0;
    padding-bottom: 15px;
    text-align: center;
    transition: all .2s ease-in-out; }
    .navbar-bottom .list.selected .icon {
      opacity: 1;
      transition: all .2s ease-in-out; }
      .navbar-bottom .list.selected .icon::after {
        position: absolute;
        bottom: -8px;
        left: 15%;
        width: 70%;
        height: 3px;
        border-radius: 3px;
        content: '';
        background: transparent; }
    .navbar-bottom .list.selected .label {
      font-weight: 600;
      color: #4c6888; }
    .navbar-bottom .list:nth-child(1) .icon {
      background-image: url("../images/navbar-home.png"); }
    .navbar-bottom .list:nth-child(2) .icon {
      background-image: url("../images/navbar-shop.png"); }
    .navbar-bottom .list:nth-child(3) .icon {
      background-image: url("../images/navbar-promo.png"); }
    .navbar-bottom .list:nth-child(4) .icon {
      background-image: url("../images/navbar-wallet.png"); }
    .navbar-bottom .list .icon {
      width: 24px;
      height: 24px;
      margin: 0 auto;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.5;
      margin-bottom: 4px;
      transition: all .32s ease-in-out; }
    .navbar-bottom .list .label {
      font-family: Nunito;
      font-size: .8rem;
      display: block;
      text-transform: lowercase;
      color: #647d9a; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px; }
  .row.first-row {
    margin-top: 70px; }
  .row.first-row-title {
    margin-top: 100px; }
  .row .inside-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 8px;
    margin-left: 8px; }

.col-4, .col-3, .col-5, .col-6, .col-7, .col-8, .col-9, .col-12, .col-24 {
  padding-right: 8px;
  padding-left: 8px;
  flex: 1;
  position: relative; }

.col-24 {
  max-width: 20vw; }

.col-3 {
  max-width: 25vw; }

.col-4 {
  max-width: 33.33333vw; }

.col-5 {
  max-width: 41.66667vw; }

.col-6 {
  max-width: 50vw; }

.col-7 {
  max-width: 58.33333vw; }

.col-8 {
  max-width: 66.66667vw; }

.col-9 {
  max-width: 75vw; }

.col-12 {
  max-width: 100vw; }

.card {
  position: relative;
  float: left;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 14px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 5px 3px 9px 0px rgba(126, 142, 174, 0.22);
  overflow: hidden;
  transition: all .32s linear; }

.card:hover {
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); }

.card .card-body {
  padding: 18px; }

.p-18 {
  padding: 12px 18px; }

.p-15 {
  padding: 12px 15px; }

.p-10 {
  padding: 10px; }
  .p-10.center {
    text-align: center; }

.divider-title {
  padding: 20px 0;
  padding-bottom: 20px;
  padding-left: 18px;
  width: calc(100% - 20px);
  position: relative;
  font-family: Nunito; }
  .divider-title .title {
    color: #393e45;
    display: inline-block;
    position: relative;
    background: transparent;
    color: #393e45;
    z-index: 2;
    font-weight: 500;
    padding-right: 20px; }
  .divider-title::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: none;
    border: 1px dashed none;
    bottom: 20px;
    left: 20px;
    content: '';
    z-index: 1; }
  .divider-title .right {
    position: absolute;
    right: 0px;
    top: 14px;
    font-size: 1.4rem;
    color: #4c73e0; }

.master-body {
  background-color: #eff2f5;
  max-width: 100%;
  overflow: hidden;
  transition: all .2s ease-in-out;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  color: #393e45; }
  .master-body .header {
    width: 100%;
    position: absolute;
    height: 50vw;
    max-height: 400px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0px -10px 10px rgba(126, 142, 174, 0.32);
    background: #4c73e0; }
    .master-body .header.index {
      background: url("../images/header-background.png") #4c73e0;
      background-size: 68vw;
      max-height: 360px;
      background-position: bottom right;
      background-repeat: no-repeat; }
    .master-body .header.loyalty {
      background: url("../images/header-background.png") #4c73e0;
      background-size: 68vw;
      max-height: 170px;
      background-position: bottom right;
      background-repeat: no-repeat; }
    .master-body .header.sub-menu {
      background: url("../images/header-background.png") #4c73e0;
      background-size: 50vw;
      height: 50vw;
      max-height: 400px;
      background-position: bottom right;
      background-repeat: no-repeat; }
    .master-body .header .bottom-image {
      width: 100%;
      height: 80px;
      background: url("../images/header-bottom.png");
      background-size: 100%;
      background-position: bottom center;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0px;
      left: 0; }
  .master-body .welcome-title {
    color: #fff;
    font-family: Nunito;
    font-weight: 300;
    padding-bottom: 10px; }
  .master-body .slider-frame {
    width: calc(100% - 0px);
    position: relative;
    overflow-x: scroll;
    padding-top: 5px;
    -webkit-overflow-scrolling: touch; }
    .master-body .slider-frame::-webkit-scrollbar {
      display: none; }
    .master-body .slider-frame .overflow {
      position: relative;
      width: calc(75vw * 6.8); }
    .master-body .slider-frame .overflow-full-pict {
      position: relative;
      width: calc(50vw * 6.2); }
    .master-body .slider-frame .overflow-category {
      width: calc(20vw * 8);
      padding: 10px;
      padding-bottom: 15px; }
    .master-body .slider-frame .overflow-coupon {
      position: relative;
      width: calc(75vw * 5.2); }
    .master-body .slider-frame .overflow-brand-sm {
      position: relative;
      width: calc(25vw * 5.2);
      padding-bottom: 10px; }
    .master-body .slider-frame .overflow-sl-sm {
      position: relative;
      width: calc(75vw * 4.2); }
    .master-body .slider-frame .overflow-merchant {
      position: relative;
      width: calc(33.3333vw *6.4); }
    .master-body .slider-frame .promo-col {
      min-height: 100%; }
      .master-body .slider-frame .promo-col:nth-child(1) {
        margin-left: 18px; }
        .master-body .slider-frame .promo-col:nth-child(1) .images {
          background-image: url("../images/promo-1.jpg"); }
      .master-body .slider-frame .promo-col:nth-child(2) .images {
        background-image: url("../images/promo-2.jpg"); }
      .master-body .slider-frame .promo-col:nth-child(3) .images {
        background-image: url("../images/promo-3.jpg"); }
      .master-body .slider-frame .promo-col:nth-child(4) .images {
        background-image: url("../images/promo-4.jpg"); }
      .master-body .slider-frame .promo-col:nth-child(5) .images {
        background-image: url("../images/promo-5.jpg"); }
      .master-body .slider-frame .promo-col:nth-child(6) .images {
        background-image: url("../images/promo-6.jpg"); }
      .master-body .slider-frame .promo-col.col-9 {
        padding-right: 12px;
        padding-left: 12px; }
      .master-body .slider-frame .promo-col .thumbnail {
        position: relative;
        float: left;
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 14px;
        border-radius: 8px;
        transition: all 240ms cubic-bezier(0.17, 0.67, 1, 1.23); }
        .master-body .slider-frame .promo-col .thumbnail:active {
          transform: scale(0.94);
          transition: all 120ms cubic-bezier(0.17, 0.67, 1, 1.23); }
        .master-body .slider-frame .promo-col .thumbnail .images {
          width: 100%;
          height: 140px;
          position: relative;
          background-size: cover;
          background-position: center;
          box-shadow: 3.5px 7px 12px 0px rgba(126, 142, 174, 0.38);
          border-radius: 10px;
          z-index: 2; }
        .master-body .slider-frame .promo-col .thumbnail .content {
          width: 100%;
          height: 85px;
          position: relative;
          margin-top: -8px;
          background: #fff;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px; }
          .master-body .slider-frame .promo-col .thumbnail .content .left {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 12px 12px; }
            .master-body .slider-frame .promo-col .thumbnail .content .left h5, .master-body .slider-frame .promo-col .thumbnail .content .left h4 {
              color: #393e45;
              font-family: Nunito;
              font-size: .95rem; }
            .master-body .slider-frame .promo-col .thumbnail .content .left .date {
              font-size: .7rem;
              color: #bbc7d0; }
          .master-body .slider-frame .promo-col .thumbnail .content .right {
            position: absolute;
            right: 20px;
            top: -20px;
            z-index: 5; }
            .master-body .slider-frame .promo-col .thumbnail .content .right .circle-frame {
              width: 44px;
              height: 44px;
              border-radius: 50%;
              text-align: center;
              vertical-align: middle;
              line-height: 35px;
              font-size: 1.1rem;
              color: #fff;
              text-shadow: 0 2px rgba(0, 0, 0, 0.1);
              border: 4px solid rgba(0, 0, 0, 0.2); }
              .master-body .slider-frame .promo-col .thumbnail .content .right .circle-frame.type-1 {
                background: #df2d5b; }
              .master-body .slider-frame .promo-col .thumbnail .content .right .circle-frame.type-2 {
                background: #49a3ef; }
              .master-body .slider-frame .promo-col .thumbnail .content .right .circle-frame.type-3 {
                background: #61c56b; }
    .master-body .slider-frame .full-pict-col {
      min-height: 100%; }
      .master-body .slider-frame .full-pict-col:nth-child(1) {
        margin-left: 18px; }
        .master-body .slider-frame .full-pict-col:nth-child(1) .images {
          background-image: url("../images/promo-loc-jakarta.jpg"); }
      .master-body .slider-frame .full-pict-col:nth-child(2) .images {
        background-image: url("../images/promo-loc-bogor.jpg"); }
      .master-body .slider-frame .full-pict-col:nth-child(3) .images {
        background-image: url("../images/promo-loc-yogya.jpg"); }
      .master-body .slider-frame .full-pict-col:nth-child(4) .images {
        background-image: url("../images/promo-loc-bandung.jpg"); }
      .master-body .slider-frame .full-pict-col:nth-child(5) .images {
        background-image: url("../images/promo-loc-surabaya.jpg"); }
      .master-body .slider-frame .full-pict-col:nth-child(6) .images {
        background-image: url("../images/promo-loc-malang.jpg"); }
      .master-body .slider-frame .full-pict-col:active {
        transform: scale(0.94);
        transition: all 120ms cubic-bezier(0.17, 0.67, 1, 1.23); }
      .master-body .slider-frame .full-pict-col.col-6 {
        padding-right: 12px;
        padding-left: 12px; }
      .master-body .slider-frame .full-pict-col .full-pict {
        position: relative;
        float: left;
        min-width: 100%;
        height: 190px;
        margin-bottom: 14px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 3.5px 7px 12px 0px rgba(126, 142, 174, 0.32);
        transition: all 240ms cubic-bezier(0.17, 0.67, 1, 1.23); }
        .master-body .slider-frame .full-pict-col .full-pict::after {
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(32, 35, 38, 0) 0%, rgba(34, 37, 42, 0.5) 70%, rgba(35, 38, 43, 0.9) 100%);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          content: ''; }
        .master-body .slider-frame .full-pict-col .full-pict .images {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0; }
        .master-body .slider-frame .full-pict-col .full-pict .content {
          position: relative;
          width: 100%;
          height: 100%; }
          .master-body .slider-frame .full-pict-col .full-pict .content .title {
            position: absolute;
            bottom: 15px;
            left: 15px;
            z-index: 3;
            font-family: Nunito;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32); }
            .master-body .slider-frame .full-pict-col .full-pict .content .title .icon {
              margin-top: -5px;
              font-size: .8rem;
              opacity: 1; }
    .master-body .slider-frame .view-more {
      background: none;
      color: #4c73e0;
      width: 120px;
      margin-left: 10px;
      margin-top: 9vw;
      padding: 35px 0;
      text-align: center;
      box-shadow: 0 0 rgba(0, 0, 0, 0);
      border: 2px dashed #bbc7d0; }
      .master-body .slider-frame .view-more i {
        width: 40px;
        height: 40px;
        background: #fff;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 50%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px; }
    .master-body .slider-frame .category-col {
      text-align: center; }
      .master-body .slider-frame .category-col::before {
        position: absolute;
        top: 0px;
        left: calc((100% - 45px) / 2);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #dce4f5;
        content: '';
        z-index: 0; }
      .master-body .slider-frame .category-col:nth-child(1) {
        margin-left: 18px; }
        .master-body .slider-frame .category-col:nth-child(1) .images {
          background-image: url("../images/category-icon-1.png"); }
      .master-body .slider-frame .category-col:nth-child(2) .images {
        background-image: url("../images/category-icon-2.png"); }
      .master-body .slider-frame .category-col:nth-child(3) .images {
        background-image: url("../images/category-icon-3.png"); }
      .master-body .slider-frame .category-col:nth-child(4) .images {
        background-image: url("../images/category-icon-4.png"); }
      .master-body .slider-frame .category-col:nth-child(5) .images {
        background-image: url("../images/category-icon-5.png"); }
      .master-body .slider-frame .category-col:nth-child(6) .images {
        background-image: url("../images/category-icon-6.png"); }
      .master-body .slider-frame .category-col:nth-child(7) .images {
        background-image: url("../images/category-icon-7.png"); }
      .master-body .slider-frame .category-col .images {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        position: relative;
        background-size: cover;
        background-position: center;
        z-index: 2; }
      .master-body .slider-frame .category-col .title {
        font-family: Nunito;
        padding-top: 10px;
        font-size: .8rem;
        color: #393e45; }
    .master-body .slider-frame .coupon-col {
      padding: 0 12px; }
      .master-body .slider-frame .coupon-col:nth-child(1) {
        margin-left: 18px; }
    .master-body .slider-frame .brand-sm-col:nth-child(1) {
      margin-left: 18px; }
    .master-body .slider-frame .brand-sm-col .icon {
      width: 60px;
      height: 60px;
      border-radius: 6px;
      overflow: hidden;
      margin: 0 auto;
      background: transparent;
      margin-bottom: 8px; }
      .master-body .slider-frame .brand-sm-col .icon img {
        width: 100%; }
    .master-body .slider-frame .brand-sm-col .disc-info {
      width: 100%;
      text-align: center;
      font-size: .9rem;
      font-family: Nunito;
      font-weight: 600;
      color: #4c6888; }
  .master-body .sl-sm-col {
    position: relative; }
    .master-body .sl-sm-col:nth-child(1) {
      margin-left: 18px; }
    .master-body .sl-sm-col .image {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 6px;
      float: left; }
      .master-body .sl-sm-col .image img {
        width: 100%; }
    .master-body .sl-sm-col .content {
      width: calc(100% - 70px);
      float: right;
      position: relative;
      font-family: Nunito; }
      .master-body .sl-sm-col .content .name {
        font-size: .9rem; }
      .master-body .sl-sm-col .content .price {
        font-size: .7rem;
        font-weight: 600;
        color: #4c73e0; }
      .master-body .sl-sm-col .content .add-item-box {
        width: 60px;
        height: 22px;
        font-size: .8rem;
        float: right; }
        .master-body .sl-sm-col .content .add-item-box .icon, .master-body .sl-sm-col .content .add-item-box .center {
          float: left;
          text-align: center;
          border-radius: 50%;
          width: calc(33% - 0px); }
        .master-body .sl-sm-col .content .add-item-box .icon {
          background: #eee;
          color: #4c6888; }
  .master-body .merchant-col {
    text-align: center; }
    .master-body .merchant-col:nth-child(1) {
      margin-left: 18px; }
    .master-body .merchant-col .images {
      width: 100%; }
    .master-body .merchant-col .content {
      width: 100%;
      position: relative;
      margin-top: 5px;
      font-family: Nunito;
      display: none; }
      .master-body .merchant-col .content .title {
        font-size: 1rem; }
      .master-body .merchant-col .content .subtitle {
        padding-top: 2px;
        font-size: .8rem; }
        .master-body .merchant-col .content .subtitle i {
          color: #4c73e0;
          margin: 0 0px;
          font-size: .5rem; }
  .master-body .sc-master-icon {
    background-image: url("../images/icon-dollar.png");
    background-size: cover; }
  .master-body .coupon-frame {
    border: 1px solid rgba(22, 22, 22, 0.08);
    box-shadow: 5px 3px 9px 0px rgba(126, 142, 174, 0.22);
    font-family: Nunito;
    overflow: visible;
    background: #fff; }
    .master-body .coupon-frame.type-1 {
      border-top: 3px solid #df2d5b;
      background: #fff6f8;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
    .master-body .coupon-frame.type-2 {
      border-top: 3px solid #49a3ef;
      background: #ebf3f9;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
    .master-body .coupon-frame.type-3 {
      border-top: 3px solid #61c56b;
      background: #f3fff4;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
    .master-body .coupon-frame.type-4 {
      border-top: 3px solid #6b4eca;
      background: #f8f6ff;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
    .master-body .coupon-frame .padding {
      padding: 15px 20px; }
    .master-body .coupon-frame .tenant-info {
      width: 100%;
      position: relative; }
      .master-body .coupon-frame .tenant-info .logo {
        width: 42px;
        height: 42px;
        overflow: hidden;
        border-radius: 4px;
        float: left; }
        .master-body .coupon-frame .tenant-info .logo img {
          width: 100%; }
      .master-body .coupon-frame .tenant-info .title {
        width: calc(100% - 55px);
        right: 0px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        font-size: 1rem;
        font-weight: 600; }
    .master-body .coupon-frame .disc-info {
      padding: 10px 0;
      padding-bottom: 10px; }
      .master-body .coupon-frame .disc-info h4 {
        font-size: 1.2rem; }
      .master-body .coupon-frame .disc-info div {
        padding-top: 5px;
        font-size: .8rem;
        line-height: 120%; }
    .master-body .coupon-frame .footer {
      width: 100%;
      padding-top: 5px;
      position: relative; }
      .master-body .coupon-frame .footer::after, .master-body .coupon-frame .footer::before {
        width: 30px;
        height: 30px;
        background: #eff2f5;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        content: ''; }
      .master-body .coupon-frame .footer::after {
        left: -35px; }
      .master-body .coupon-frame .footer::before {
        right: -35px; }
      .master-body .coupon-frame .footer .border-top {
        width: 94%;
        margin: 0 auto;
        border-bottom: 2px dashed rgba(11, 11, 11, 0.25);
        margin-bottom: 10px; }
      .master-body .coupon-frame .footer .icon {
        float: left;
        width: 30px;
        height: 20px;
        font-size: 1.2rem;
        color: #4c73e0; }
      .master-body .coupon-frame .footer .text {
        float: left;
        width: calc(100% - 40px);
        font-size: .95rem;
        color: rgba(0, 0, 0, 0.4); }
        .master-body .coupon-frame .footer .text div {
          font-size: .7rem;
          color: #393e45;
          font-weight: 600; }
  .master-body .footer-frame {
    width: 100%;
    height: 140px;
    margin-bottom: 35px;
    background-image: url("../images/footer-pattern.png");
    background-position: center bottom;
    background-size: cover; }

.graph-emoticon-frame {
  width: 100%;
  position: relative;
  font-family: Nunito; }
  .graph-emoticon-frame.stat-1 .numbers .title {
    color: #e85d56; }
  .graph-emoticon-frame.stat-2 .numbers .title {
    color: #f1be6f; }
  .graph-emoticon-frame.stat-3 .numbers .title {
    color: #ddf16f; }
  .graph-emoticon-frame.stat-4 .numbers .title {
    color: #92ea67; }
  .graph-emoticon-frame.stat-5 .numbers .title {
    color: #3acc78; }
  .graph-emoticon-frame .title-top {
    font-size: 1rem; }
  .graph-emoticon-frame .content {
    width: 100%;
    position: relative;
    padding-top: 5px; }
    .graph-emoticon-frame .content .graph {
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      width: calc(100% - 75px); }
      .graph-emoticon-frame .content .graph .body {
        width: calc(20% + 17px);
        height: 18px;
        float: left;
        border-radius: 18px;
        margin-left: -17px;
        position: relative; }
        .graph-emoticon-frame .content .graph .body:nth-child(1) {
          background: #e85d56;
          margin-left: 0;
          width: 20%;
          z-index: 5; }
        .graph-emoticon-frame .content .graph .body:nth-child(2) {
          background: #f1be6f;
          z-index: 4; }
        .graph-emoticon-frame .content .graph .body:nth-child(3) {
          background: #ddf16f;
          z-index: 3; }
        .graph-emoticon-frame .content .graph .body:nth-child(4) {
          background: #92ea67;
          z-index: 2; }
        .graph-emoticon-frame .content .graph .body:nth-child(5) {
          background: #3acc78;
          z-index: 1; }
      .graph-emoticon-frame .content .graph .body-active {
        position: absolute;
        top: 7px;
        width: 82%;
        left: 9%;
        z-index: 6; }
        .graph-emoticon-frame .content .graph .body-active .line {
          height: 4px;
          min-width: 10px;
          border-radius: 10px;
          background: rgba(255, 255, 255, 0.75);
          position: relative; }
          .graph-emoticon-frame .content .graph .body-active .line img {
            width: 34px;
            height: 34px;
            background: rgba(255, 255, 255, 0.95);
            box-shadow: 3.464px 2px 8px 0px rgba(41, 41, 41, 0.2);
            position: absolute;
            padding: 4px;
            right: -10px;
            top: -15px;
            border-radius: 50%; }
    .graph-emoticon-frame .content .numbers {
      position: relative;
      float: right;
      width: 70px;
      text-align: center; }
      .graph-emoticon-frame .content .numbers .title {
        font-size: 1.75rem;
        line-height: 100%;
        font-weight: 600; }
      .graph-emoticon-frame .content .numbers .desc {
        font-size: .8rem;
        font-weight: 300; }

.search-bar-sticky {
  top: 68px;
  width: calc(100% - 4px);
  position: sticky;
  position: -webkit-sticky;
  font-family: Nunito;
  color: #4c6888;
  margin: 0 auto;
  z-index: 90; }
  .search-bar-sticky .col-12 {
    padding: 0 16px !important; }
  .search-bar-sticky .input-search {
    outline: 0;
    border: 0;
    background: 0;
    padding: 0px 10px;
    float: left;
    width: calc(100% - 80px);
    font-size: 1rem;
    color: #4c6888; }
    .search-bar-sticky .input-search::placeholder {
      color: #bbc7d0;
      font-weight: 200;
      font-size: 1rem;
      font-family: Nunito; }
  .search-bar-sticky i.left {
    width: 20px;
    float: left; }
  .search-bar-sticky i.right {
    width: 20px;
    float: right; }

.master-body {
  overflow: visible; }

.navbar-top .back-button {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  vertical-align: bottom;
  display: inline-block;
  overflow: hidden;
  z-index: 2;
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); }
  .navbar-top .back-button i {
    font-size: 22px;
    color: #fff; }
.navbar-top .left-frame {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 75%; }
  .navbar-top .left-frame .search {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 22px;
    border-radius: 50px;
    padding: 4px 5px;
    transition: all .3s; }
    .navbar-top .left-frame .search input {
      font-size: 17px;
      background-color: transparent;
      border: none;
      padding-left: 10px;
      color: #fff; }
      .navbar-top .left-frame .search input:focus {
        border: none; }
    .navbar-top .left-frame .search .icon {
      font-size: 17px; }
.navbar-top .right-frame {
  border: none;
  line-height: 36px;
  float: right;
  display: inline-block; }
  .navbar-top .right-frame.filter i {
    font-size: 22px; }
.navbar-top.active .search {
  background-color: #fff;
  color: #4c73e0; }
  .navbar-top.active .search input {
    color: #4c73e0; }

.header.history-index {
  max-height: 190px !important; }

.row.history-index-1 .history-header {
  height: 100px;
  position: relative; }
  .row.history-index-1 .history-header .left, .row.history-index-1 .history-header .middle, .row.history-index-1 .history-header .right {
    display: inline-block; }
  .row.history-index-1 .history-header .left, .row.history-index-1 .history-header .right {
    overflow: hidden; }
    .row.history-index-1 .history-header .left .title, .row.history-index-1 .history-header .right .title {
      position: relative;
      z-index: 2; }
      .row.history-index-1 .history-header .left .title h5, .row.history-index-1 .history-header .right .title h5 {
        font-weight: 400; }
        .row.history-index-1 .history-header .left .title h5 .down, .row.history-index-1 .history-header .right .title h5 .down {
          color: #e74c3c; }
        .row.history-index-1 .history-header .left .title h5 .up, .row.history-index-1 .history-header .right .title h5 .up {
          color: #2ecc71; }
      .row.history-index-1 .history-header .left .title h4, .row.history-index-1 .history-header .right .title h4 {
        font-family: Nunito; }
    .row.history-index-1 .history-header .left .sub-title, .row.history-index-1 .history-header .right .sub-title {
      color: #4c6888;
      position: relative;
      z-index: 2; }
      .row.history-index-1 .history-header .left .sub-title i, .row.history-index-1 .history-header .right .sub-title i {
        font-size: 11px; }
      .row.history-index-1 .history-header .left .sub-title h6, .row.history-index-1 .history-header .right .sub-title h6 {
        font-weight: 400;
        display: inline-block; }
    .row.history-index-1 .history-header .left .icon, .row.history-index-1 .history-header .right .icon {
      position: absolute;
      opacity: .4;
      bottom: -15px;
      height: 85px;
      width: 85px;
      display: none; }
  .row.history-index-1 .history-header .left {
    float: left;
    width: 50%; }
    .row.history-index-1 .history-header .left .icon {
      left: -15px; }
    .row.history-index-1 .history-header .left:after {
      content: "";
      height: 100%;
      width: 3px;
      background-color: #4c73e0;
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0); }
  .row.history-index-1 .history-header .right {
    float: right; }
    .row.history-index-1 .history-header .right .icon {
      right: -15px; }
  .row.history-index-1 .history-header .middle {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 3px solid #4c73e0;
    padding: 4px; }
    .row.history-index-1 .history-header .middle img {
      height: 35px;
      display: block;
      margin-left: auto;
      margin-right: auto; }

.history-index-2 {
  background-color: #fff;
  width: 100vw;
  padding: 0 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 2;
  border-bottom: 1px solid #ddd; }
  .history-index-2 .text {
    margin-left: 5px; }
    .history-index-2 .text span {
      font-weight: 700; }

.row.history-index-3 .card {
  min-height: 75px; }
  .row.history-index-3 .card .left, .row.history-index-3 .card .right {
    display: inline-block; }
  .row.history-index-3 .card .right {
    text-align: right;
    float: right; }
  .row.history-index-3 .card .left h6 span {
    font-weight: 500; }
  .row.history-index-3 .card .left h5 i {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: #5bcbb5;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 25px; }
  .row.history-index-3 .card .left h5 span.text {
    word-wrap: break-word;
    width: 50%; }
  .row.history-index-3 .card h6 {
    font-weight: 400;
    color: #bbc7d0;
    font-family: Nunito;
    padding-left: 28px; }
    .row.history-index-3 .card h6 span {
      font-weight: 700; }
  .row.history-index-3 .card h4 {
    color: #4c73e0;
    font-family: Nunito;
    line-height: 1; }
  .row.history-index-3 .card h5 {
    font-weight: 500;
    color: #4c6888; }

.filter {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 100vw;
  padding: 0 8px;
  left: 0;
  min-height: 350px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all .32s;
  bottom: -150px; }
  .filter .button-close {
    position: absolute;
    top: -15px;
    right: 15px;
    height: 35px;
    width: 35px;
    font-size: 18px;
    background-color: #ff5252;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    text-align: center;
    /* line-height: 20px; */
    color: #fff; }
  .filter-header {
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd; }
    .filter-header h3 {
      font-weight: 500; }
  .filter-body {
    position: relative;
    width: 100%; }
    .filter-body .start-input, .filter-body .end-input {
      margin-bottom: 8px; }
      .filter-body .start-input .input, .filter-body .end-input .input {
        background-color: #4c6888;
        padding: 0 5px;
        border-radius: 3px;
        color: #fff;
        margin-top: 3px; }
      .filter-body .start-input input[type=date], .filter-body .end-input input[type=date] {
        height: 35px;
        margin: 0 auto;
        width: calc(94% - 10px);
        font-family: Nunito;
        font-size: 17px;
        /* font-weight: bold; */
        /* text-transform: uppercase; */
        background-color: transparent;
        outline: none;
        border: 0;
        padding: 0 3px;
        color: #fff; }
  .filter-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0; }
    .filter-footer button {
      width: 86%;
      height: 35px;
      border: none;
      border-radius: 4px;
      padding: 5px;
      background-color: #4c73e0;
      color: #fff;
      font-size: 18px; }
  .filter.active {
    visibility: visible;
    opacity: 1;
    bottom: 0; }

/*# sourceMappingURL=history-index.css.map */
