
// = - - - - - - - - - - - - - - - - - - - - - - - - - =  //
// = - - - - - - -  H I S T O R Y - I N D E X . S C S S - - - - - - - - = //
// = - - - - - - - - - - - - - - - - - - - - - - - - - =//

@import 'base';

.master-body {
	overflow: visible;
}

.navbar-top {

	.back-button {
		// float: left;
	    position: relative;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    line-height: 32px;
	    vertical-align: bottom;
	    display: inline-block;
	    overflow: hidden;
	    z-index: 2;
	    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);

	    i {
	    	font-size: 22px;
    		color: #fff;
	    }
	}

	.left-frame {
		position: relative;
		z-index: 2;
		display: inline-block;
		width: 75%;
		
		.search {
			display: flex;
			align-items: center;
			background-color: rgba(0,0,0,.3);
			color: #fff;
			font-size: 22px;
			border-radius: 50px;
			padding: 4px 5px;
			transition: all .3s;

			input {
				font-size: 17px;
				background-color: transparent;
				border: none;
				padding-left: 10px;
				color: #fff;

				&:focus {
					border: none;
				}
			}

			.icon {
				font-size: 17px;
			}
		}
	}

	.right-frame {
		border: none;
		line-height: 36px;
		float: right;
		display: inline-block;

		&.filter {

			i {
				font-size: 22px;
				// color: rgba(0,0,0,.3);
			}
		}
	}

	&.active {

		.search {
			background-color: #fff;
			color: $blue;

			input {
				color: $blue;
			}
		}
	}
}

.header.history-index {
	max-height: 190px!important;
}

.row.history-index-1 {

	.history-header {
		height: 100px;
		position: relative;
		
		.left, .middle, .right {
			display: inline-block;
		}

		.left, .right {
			overflow: hidden;

			.title {
				position: relative;
				z-index: 2;

				h5 {
					font-weight: 400;

					.down {
						color: #e74c3c;
					}

					.up {
						color: #2ecc71
					}
				}

				h4 {
					font-family: $nunito;
				}
			}

			.sub-title {
				color: $dark-blue;
				position: relative;
				z-index: 2;

				i {
					font-size: 11px;
				}
				h6 {
					font-weight: 400;
					display: inline-block;
				}
			}

			.icon {
				position: absolute;
				opacity: .4;
			    bottom: -15px;
			    height: 85px;
			    width: 85px;
			    display: none;
			}
		}

		.left {
			float: left;
			width: 50%;

			.icon {
				left: -15px;
			}

			&:after {
				content: "";
				height: 100%;
				width: 3px;
				background-color: $blue;
				display: block;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, 0);
			}
		}

		.right {
			float: right;

			.icon {
				right: -15px;
			}
		}

		.middle {
			background-color: #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50px;
			width: 50px;
			height: 50px;
			text-align: center;
			border: 3px solid $blue;
			padding: 4px;

			img {
				height: 35px;
				display: block;
			    margin-left: auto;
			    margin-right: auto;
			}
		}
	}
}

.history-index-2 {
	background-color: #fff;
	width: 100vw;
	// margin-top: 15px;
	padding: 0 8px;
	position: -webkit-sticky;
	position: sticky;
	top: 60px;
	z-index: 2;
	border-bottom: 1px solid #ddd;

	.text {
		margin-left: 5px;

		span {
			font-weight: 700;
		}
	}
}

.row.history-index-3 {

	.card {
		min-height: 75px;

		.left, .right {
			display: inline-block;
		}

		.right {
			text-align: right;
			float: right;
		}

		.left {
			// word-wrap: break-word;
			// width: 50%;

			h6 {

				span {
					font-weight: 500;
				}
			}

			h5 {

				i {
					height: 25px;
				    width: 25px;
				    border-radius: 50px;
				    background-color: $tosca;
				    color: #fff;
				    font-size: 12px;
				    text-align: center;
				    line-height: 25px;
				}

				span.text {
					word-wrap: break-word;
					width: 50%;
				}
			}
		}

		h6 {
			font-weight: 400;
			color: $light-grey;
			font-family: $nunito;
			padding-left: 28px;

			span {
				font-weight: 700;
			}
		}

		h4 {
			color: $blue;
			font-family: $nunito;
			line-height: 1;
		}

		h5 {
			font-weight: 500;
			color: $dark-blue;
		}
	}
}

.filter {
	$radius : 16px;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	width: 100vw;
	padding: 0 8px;
	left: 0;
	min-height: 350px;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	box-shadow: 0 0 0 999px rgba(0,0,0,.3);

	visibility: hidden;
	opacity: 0;
	transition: all .32s;
	bottom: -150px;

	.button-close {
		position: absolute;
	    top: -15px;
	    right: 15px;
	    height: 35px;
	    width: 35px;
	    font-size: 18px;
	    background-color: darken($red,5%);
	    border: 5px solid rgba(0,0,0,0);
	    border-radius: 50px;
	    text-align: center;
	    /* line-height: 20px; */
	    color: #fff;
	}

	&-header {
		margin-bottom: 15px;
		padding-bottom: 8px;
		border-bottom: 1px solid #ddd;
		h3 {
			font-weight: 500;
		}
	}

	&-body {
		position: relative;
		width: 100%;

		.start-input, .end-input {
			margin-bottom: 8px;
			// display: inline-block;

			.input {
				background-color: $dark-blue;
				padding: 0 5px;
				border-radius: 3px;
				color: #fff;
				margin-top: 3px;
			}

			input[type=date] {
			    height: 35px;
			    margin: 0 auto;
			    width: calc(94% - 10px);
			    font-family: $nunito;
			    font-size: 17px;
			    /* font-weight: bold; */
			    /* text-transform: uppercase; */
			    background-color: transparent;
			    outline: none;
			    border: 0;
			    padding: 0 3px;
			    color: #fff;
			}
		}
	}

	&-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 20px 0;

		button {
			width: 86%;
			height: 35px;
			border: none;
			border-radius: 4px;
			padding: 5px;
			background-color: $blue;
			color: #fff;
			font-size: 18px;
		}
	}

	&.active {
		visibility: visible;
		opacity: 1;
		bottom: 0;
	}
}