
// = - - - - - - - - - - - - - - - - - - - - - - - - - =  //
// = - - - - - - -  H I S T O R Y - D E T A I L . S C S S - - - - - - - - = //
// = - - - - - - - - - - - - - - - - - - - - - - - - - =//

@import 'base';

.master-body {
	overflow: visible;
}

.navbar-top {

	.back-button {
		// float: left;
	    position: relative;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    line-height: 32px;
	    vertical-align: bottom;
	    display: inline-block;
	    overflow: hidden;
	    z-index: 2;
	    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);

	    i {
	    	font-size: 22px;
    		color: #fff;
	    }
	}

	.left-frame {
		position: relative;
		z-index: 2;
		display: inline-block;
		width: 75%;
		
		.search {
			display: flex;
			align-items: center;
			background-color: rgba(0,0,0,.3);
			color: #fff;
			font-size: 22px;
			border-radius: 50px;
			padding: 4px 5px;
			transition: all .3s;

			input {
				font-size: 17px;
				background-color: transparent;
				border: none;
				padding-left: 10px;
				color: #fff;

				&:focus {
					border: none;
				}
			}

			.icon {
				font-size: 17px;
			}
		}
	}

	.right-frame {
		border: none;
		line-height: 36px;
		float: right;
		display: inline-block;

		&.filter {

			i {
				font-size: 22px;
				// color: rgba(0,0,0,.3);
			}
		}
	}

	&.active {

		.search {
			background-color: #fff;
			color: $blue;

			input {
				color: $blue;
			}
		}
	}
}

.header.history-detail {
	max-height: 210px!important;
}

.first-row {
	margin-top: 40px!important;
}

.row.history-detail-1 {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 100;
	transition: all .3s;

	.p-18 {
		transition: all .3s;
	}

	h6 {
		font-weight: 400;
	    color: #fff;
	    font-family: Nunito;
	    visibility: visible;
	    opacity: 1;
	    transition: all .3s;

	    span {
	    	font-weight: 700;
	    }
	}

	h3 {
		font-family: $nunito;
		color: #fff;
		transition: all .3s;

		i {
			height: 32px;
		    width: 32px;
		    border-radius: 50px;
		    background-color: darken($blue,10%);
		    color: #fff;
		    font-size: 18px;
		    text-align: center;
		    line-height: 32px;
		    margin-right: 5px;
		}
	}

	h5 {
		color: #fff;
		font-weight: 400;
		transition: all .3s;
		// padding-left: 35px;

		i {
			margin-right: 5px;
		}
	}

	&.active {
		margin-left: 25px;

		.p-18 {
			padding: 6px 18px;
		}

		h6 {
			display: none;
		}

		h3 {
			font-size: 17px;
		}
	}
}

.row.history-detail-2 {

	.history-header {
		min-height: 75px;
		position: relative;
		
		.left, .middle, .right {
			display: inline-block;
		}

		.left, .right {
			overflow: hidden;

			.title {
				position: relative;
				z-index: 2;

				h5 {
					font-weight: 400;

					.down {
						color: #e74c3c;
					}

					.up {
						color: #2ecc71
					}
				}

				h4 {
					font-family: $nunito;
				}
			}

			.sub-title {
				color: $dark-blue;
				position: relative;
				z-index: 2;

				i {
					font-size: 11px;
				}
				h6 {
					font-weight: 400;
					display: inline-block;
				}
			}

			.icon {
				position: absolute;
				opacity: .4;
			    bottom: -15px;
			    height: 85px;
			    width: 85px;
			    display: none;
			}
		}

		.left {
			float: left;
			width: 50%;

			.icon {
				left: -15px;
			}

			&:after {
				content: "";
				height: 100%;
				width: 3px;
				background-color: $blue;
				display: block;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, 0);
			}
		}

		.right {
			float: right;

			.icon {
				right: -15px;
			}
		}

		.middle {
			background-color: #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50px;
			width: 50px;
			height: 50px;
			text-align: center;
			border: 3px solid $blue;
			padding: 4px;

			img {
				height: 35px;
				display: block;
			    margin-left: auto;
			    margin-right: auto;
			}
		}
	}
}

.row.history-detail-3 {

	.search {
		background-color: transparent;
		border: 1px solid lighten($blue,15%);
		display: flex;
		align-items: center;
		border-radius: 4px;
		padding: 5px 5px 5px 10px;

		input {
			background-color: transparent;
			border: none;
			color: #fff;
			padding: 3px;
			font-size: 15px;
			@include placeholder {
				color: $dark-blue;
			}
		}

		i {
			font-size: 17px;
			margin-right: 5px;
		}
	}

	.receipt-table, .receipt-footer {
		width: 100%;
		margin-top: 10px;
		border-collapse: collapse;

		thead {
			background: #f0f0ff;
    		color: $blue;
		}

		tbody {

			tr:not(:last-child) {
				border-bottom: 1px solid #ddd;
			}
		}

		tr {

			th:first-child, td:first-child {
				text-align: left;
				padding-left: 5px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			th:last-child, td:last-child {
				text-align: right;
				padding-right: 5px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			th, td {
				text-align: center;
				border: none;
				padding: 7px 0;
			}
		}
	}

	.receipt-table {

		// tr:nth-child(even) {background: #fafafa}
	}

	.receipt-footer {

		tbody {

			tr {
				border-bottom: none!important;

				th {
					padding: 1px 0!important;

					img {
						height: 20px;
						margin-right: 5px;
						vertical-align: middle;
					}

					&:last-child {
						font-family: $nunito;
						color: $blue;
					}
				}
			}
		}
	}
}

.popup.history-detail {
	min-height: 280px;
	background-image: url('../images/popup-bg-coklat.jpg');
	background-size: cover;
	// position: relative;

	.overlay {
		width: 100%;
		height: 280px;
		border-radius: 8px;
		background-color: rgba(0,0,0,.34);
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	.popup-header {
		border-bottom: 0px solid #ddd;
		margin-top: 24px;
		h2 {
			color: #fff;
		}
	}

	.popup-body {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		img {
			height: 115px;
			width: 115px;
			border-radius: 8px;
		}
		h3 {
			font-size: 17px;
			display: inline-block;

			.subtitle {
				font-size: 14px;
				font-weight: 400;
				color: $light-grey;
			}

			&.price {
				margin-left: auto;
			}
		}
	}

	.popup-footer {
		button {
			background-color: #fff;
			color: $black;
			width: calc(88% / 2 - 10px);
    		min-height: 55px;
    		position: relative;
    		overflow: hidden;
    		text-align: left;
    		padding-left: 15px;
    		font-size: 16px;

			i {
				display: inline-block;
			}

			img.icon {
				position: absolute;
				right: -5px;
				top: -7px;
				height: 55px;
				opacity: .8;
			}

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}