// loyalty page

@import 'base';

.row.loyalty-detail-1 {

	.loyalty-card {

		width : 94%;
		padding-bottom: 52%;
		margin: 0 auto;
		position: relative;

		.card-box {
			width : 100%;
			padding-bottom: 62.5%;
			max-width: 450px;
			max-height: 350px;
			background-repeat: no-repeat;
			background-size: cover;
			position : absolute;
			border-radius: 12px;

			.content-frame {
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-38%);
				color: #fff;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
				font-family: $nunito;
			}
			.name {
				margin-top: 5px;
				font-size: 1.2rem;
			}

			.point {
				font-size: 1.8rem;
				font-weight: 600;

				.icon {
					width: 32px;
					height: 32px;
					display: inline-block;
					transform: translateY(5px);
				}
			}

			.date {
				font-size: .8rem;
			}

			.name, .date {
				padding-left: 0px;
			}

			&#platinum {
				background-image: url('../images/app-card-platinum.png');
				box-shadow: 7px 5px 20px 0px rgba(61, 62, 93, 0.2);
			}

			&#platinum-back {
				background-image: url('../images/app-card-platinum-back.png');
				box-shadow: 7px 5px 20px 0px rgba(61, 62, 93, 0.2);
			}

			.qr-code{
				width : 150px;
				height : 150px;
				position : absolute;
				top : 50%;
				transform: translateY(-50%);
				left : calc((100% - 150px) / 2);
				overflow : hidden;
				border-radius: 8px;
				background : #fff;
				opacity: 0;
				transition: all .2s ease-in-out;

				img {
					width: 100%;
				}
			}

			.card-title {
				width : 100%;
				position : realtive;
				margin : 20px 0;
			}
		}

		.flip-container.active {
			.qr-code {
				opacity: 1;
				transition: all .7s ease-in-out;
			}
		}
	} 

}

// .row.loyalty-detail-2 {
// 	.col-4 {
// 		text-align: center;

// 		.icon {
// 			margin: 0 auto;
// 			width: 40px;
// 			height: 40px;
// 			background-position: center;
// 			background-size: cover;
// 			margin-bottom: 5px;
// 		}

// 		&:nth-child(1) .icon {
// 			background-image: url('../images/header-pay.png');
// 		}
// 		&:nth-child(2) .icon {
// 			background-image: url('../images/header-reward.png');
// 		}
// 		&:nth-child(3) .icon {
// 			background-image: url('../images/header-wallet.png');
// 		}
// 	}
// }

.loyalty-detail-2 {
	width: calc(100% - 0px);
	position: relative;
	padding: 20px 0px;
	background: #fff;
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 20px;
	border-radius: 6px;
  	box-shadow: 5px 3px 9px 0px rgba(126, 142, 174, 0.22);
   transition: all 320ms ease-in-out;

	.pull-row {
		margin-top: -90px;

		.col-4 {

			&.active .card{
				color: $blue;
				background: #fff;
				box-shadow: 0 -5px 10px rgba(126, 142, 174, 0.2);

				&::after {
					position: absolute;
					top: 0;
					left: 15%;
					width: 70%;
					height: 4px;
					background: $blue;
					content: '';
					border-bottom-right-radius: 1px;
					border-bottom-left-radius: 1px;
				}
			}

			.card {
				background: none;
				box-shadow: none;
				text-align: center;
				padding: 15px 0;
				padding-bottom: 26px;
				font-size: 1rem;
			}
		}
	}

	.tab-frame {
		position: relative;
		width: 100%;
		max-width: calc(100vw - 36px);
		height: auto;
		padding: 0px 0;
		overflow: hidden;

		.slide {
			width: 300%;
			position: relative;
        	transition: all 320ms ease-in-out;

        	.coupon-frame {
		    	.footer {
					&::after, &::before {
						background: #fff;
					}
				}	
        	}

			// &.slide-active {
			// 	margin-left: -100%;
   //      		transition: all 320ms ease-in-out;

   //      		.tab.coupon {
   //      			display: none;
   //      			transition: all .2s ease-in-out;
   //      		}
   //      		.tab.exclusive {
   //      			display: block;
   //      			transition: all .2s ease-in-out;
   //      		}

   //      		&.active-third {
   //      			margin-left: -200%;
   //  				transition: all 320ms ease-in-out;

   //      			.tab.third {
   //      				display: block;
   //      				transition: all .2s ease-in-out;
   //      			}

   //      			.tab.coupon {
	  //       			display: none;
	  //       			transition: all .2s ease-in-out;
	  //       		}

	  //       		.tab.exclusive {
	  //       			display: none;
	  //       			transition: all .2s ease-in-out;
	  //       		}
   //      		}
			// }
		}

		.tab {
			position: relative;
			width : 33.33%;
			transition: all .2s ease-in-out;

			&.coupon {
				display: none;
				float: left;

				.coupon-frame {
					margin-bottom: 20px;
				}

				.thumbnail {
					.content {
						border: .4px solid #d1d1d1;
					}
				}

				&.active {
					display: block;
				}

			}

			&.exclusive {
				display: none;
				float: left;

				.thumbnail {
					.content {
						border: .4px solid #d1d1d1;
					}
				}

				&.active {
					display: block;
				}
			}

			&.third {
				display: none;
				float: left;

				.thumbnail {
					.content {
						border: .4px solid #d1d1d1;
					}
				}

				.my-trade-ss {
					// background-image: url(asset/images/my-trade.jpg);
					// background-size: cover;
					// background-position: center;
					width: 100%;
					height: 100%;
				}

				&.active {
					display: block;
				}
			}
		}
	}
}

.row.index-fintech-info {
	margin-top: 100px;

	.master-box {
		background: $tosca;
		font-family: $nunito; 
		border-radius: 8px;
			box-shadow: 3px 5px 9px 0px rgba(126, 142, 174, 0.32);

		.top {
			background: #fff;
			width: 100%;
			border-radius: 8px;

			.p-10 {
				padding: 20px 10px;
			}

			.col-5 {

				.icon {
					margin-top: 8px;
					width: 25px;
					height: 25px;
					background-image: url('../images/icon-dollar.png');
					background-size: cover;
					float: left;
				}

				.text { 
					float: right;
					width: calc(100% - 34px);
					font-size: .8rem
				}
			}

			.col-7 {

				.icon-box {
					font-size: .8rem;
					color: $black;
					width: calc(33% - 20px);
					margin: 0 10px;
					text-align: center;

					.icon {
						margin: 0 auto;
						width: 26px;
						height: 26px;
						background-position: center;
						background-size: cover;
						margin-bottom: 5px;
					}

					&:nth-child(1) .icon {
						background-image: url('../images/header-pay.png');
					}
					&:nth-child(2) .icon {
						background-image: url('../images/header-reward.png');
					}
					&:nth-child(3) .icon {
						background-image: url('../images/header-wallet.png');
					}
				}
			}
		}

		.bottom {
		
			text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
			color: #fff;
			font-size: 1.2rem;

			.p-18 {
				padding: 6px 18px;
			}
			.right {
				text-align: right;
				font-size: 1.3rem;
				font-weight: 600;

				.rupiah { 
					display: inline-block;
					font-size: .6rem;
					padding-right: 2px;
					transform: translateY(-8px);
				}
			}
		}
	}
}





























