// loyalty page

@import 'base';


.master-body {
	overflow: visible;
}

.navbar-top {

	.back-button {
		// float: left;
	    position: relative;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    line-height: 32px;
	    vertical-align: bottom;
	    display: inline-block;
	    overflow: hidden;
	    z-index: 2;
	    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);

	    i {
	    	font-size: 22px;
    		color: #fff;
	    }
	}
}

.search-bar-sticky {
	top: 7px;
	z-index: 100;
}
.header.sub-menu {
	height: 48vw !important;
}

.row.row-merchant-1 {
	margin: 10px 0;
	margin-top: 100px;
	margin-bottom: 0px;
	font-family: $nunito;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.row.row-merchant-list {
	.merchant-col {
		&:nth-child(1) {
			margin-left: 0 !important;
		}
	}
}

























