
// = - - - - - - - - - - - - - - - - - - - - - - - - - =  //
// = - - - - - - -  N E A R B Y - I N D E X . S C S S - - - - - - - - = //
// = - - - - - - - - - - - - - - - - - - - - - - - - - =//

@import 'base';

.master-body {
	
}

.header.nearby-index.jakarta {
	max-height: 210px !important;
	background: url('../images/nearby-bg-jakarta.jpg') $blue;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

.row.nearby-header {
	margin-top: 100px;
	font-family: $nunito;

	.content {
		position: relative;
		left: 18px;
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

		.title {
			font-size: 1.8rem;
			font-weight: 600;
		}

		.sub-title {
			font-size: .9rem;
		}
	}
}

.promo-index-2 {
	top: 68px;
	width: calc(100% - 4px);
	position: sticky;
	position: -webkit-sticky;
	font-family: $nunito;
	color: $dark-blue;
	margin : 0 auto;
	z-index: 90;

	.col-12 {
		padding: 0 16px !important;
	}

	.input-search {
		outline: 0;
		border: 0;
		background: 0;
		padding: 0px 10px;
		float: left;
		width: calc(100% - 80px);
		font-size: 1rem;
		color: $dark-blue;

		&::placeholder {
			color: $light-grey;
			font-weight: 200;
			font-size: 1rem;
			font-family: $nunito;
		}
	}

	i.left {
		width: 20px;
		float: left;
	}

	i.right {
		width: 20px;
		float: right;
	}
}

.row.overflow-full-pict.nearby-index {
	.full-pict-col {
		&:nth-child(1) .images {
	        background-image: url('../images/nearby-mall-1.jpg');
		}
		&:nth-child(2) .images {
	        background-image: url('../images/nearby-mall-2.jpg');
		}
		&:nth-child(3) .images {
			background-image: url('../images/nearby-mall-3.jpg');
		}
		&:nth-child(4) .images {
			background-image: url('../images/nearby-mall-4.jpg');
		}
		&:nth-child(5) .images {
			background-image: url('../images/nearby-mall-5.jpg');
		}
		&:nth-child(6) .images {
			background-image: url('../images/nearby-mall-6.jpg');
		}
	}
}
















