
// = - - - - - - - - - - - - - - - - - - - - - - - - - =  //
// = - - - - - - -  P R O M O - I N D E X . S C S S - - - - - - - - = //
// = - - - - - - - - - - - - - - - - - - - - - - - - - =//

@import 'base';

.master-body {
	overflow: visible;
}

.header.promo-index {
	max-height: 150px !important;
	background: url('../images/header-background.png') $blue;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 48vw;
}

.row.promo-index-1 {
	margin-top: 100px;
}

.promo-index-2 {
	top: 68px;
	width: calc(100% - 4px);
	position: sticky;
	position: -webkit-sticky;
	font-family: $nunito;
	color: $dark-blue;
	margin : 0 auto;
	z-index: 90;

	.col-12 {
		padding: 0 16px !important;
	}

	.input-search {
		outline: 0;
		border: 0;
		background: 0;
		padding: 0px 10px;
		float: left;
		width: calc(100% - 80px);
		font-size: 1rem;
		color: $dark-blue;

		&::placeholder {
			color: $light-grey;
			font-weight: 200;
			font-size: 1rem;
			font-family: $nunito;
		}
	}

	i.left {
		width: 20px;
		float: left;
	}

	i.right {
		width: 20px;
		float: right;
	}
}

.row.promo-index-3 {
	height: 1000px;
}
