
// = - - - - - - - - - - - - - - - - - - - - - - - - - =  //
// = - - - - - - -  S H O P P I N G - L I S T . S C S S - - - - - - - - = //
// = - - - - - - - - - - - - - - - - - - - - - - - - - =//

@import 'base';

.header.shopping-list {
	max-height: 130px!important;
}

.row.first-row {
	margin-top: 90px;
}

.sl-sm-col:nth-child(1) {
	margin-left: 0 !important;
}

.divider-title {

	i {
		margin-right: 18px;
	}
}