

// = - - - - - - - - - - - - - - - - - - - - - - - - - =  //
// = - - - - - - -  S T Y L E . S C S S - - - - - - - - = //
// = - - - - - - - - - - - - - - - - - - - - - - - - - =//

@import 'base';

.master-body .header.index {
	height: 60vh;
	max-height: 400px;
}

.first-row-title {
	margin-top: 40px!important;
}

.row.first-row {
	margin-top: 60px;
}

.header

.row.index-menu {
		margin: 28px 0;
		color: #fff;

		.col-3 {
			font-family: $nunito;
			color: #fff;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
			font-size: .8rem;
			line-height: 132%;
			text-align: center;

			i {
				font-size: 1.32rem;
				margin-bottom: 10px;
			}
		}
	}

	.row.index-fintech-info {

		.master-box {
			background: $tosca;
			font-family: $nunito; 
			border-radius: 8px;
  			box-shadow: 3px 5px 9px 0px rgba(126, 142, 174, 0.32);

			.top {
				background: #fff;
				width: 100%;
				border-radius: 8px;

				.p-10 {
					padding: 20px 10px;
				}

				.col-5 {

					.icon {
						margin-top: 8px;
						width: 25px;
						height: 25px;
						background-image: url('../images/icon-dollar.png');
						background-size: cover;
						float: left;
					}

					.text { 
						float: right;
						width: calc(100% - 34px);
						font-size: .8rem
					}
				}

				.col-7 {

					.icon-box {
						font-size: .8rem;
						color: $black;
						width: calc(33% - 20px);
						margin: 0 10px;
						text-align: center;

						.icon {
							margin: 0 auto;
							width: 26px;
							height: 26px;
							background-position: center;
							background-size: cover;
							margin-bottom: 5px;
						}

						&:nth-child(1) .icon {
							background-image: url('../images/header-pay.png');
						}
						&:nth-child(2) .icon {
							background-image: url('../images/header-reward.png');
						}
						&:nth-child(3) .icon {
							background-image: url('../images/header-wallet.png');
						}
					}
				}
			}

			.bottom {
			
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
				color: #fff;
				font-size: 1.2rem;

				.p-18 {
					padding: 6px 18px;
				}
				.right {
					text-align: right;
					font-size: 1.3rem;
					font-weight: 600;

					.rupiah { 
						display: inline-block;
						font-size: .6rem;
						padding-right: 2px;
						transform: translateY(-8px);
					}
				}
			}
		}
	}

.row.payment-offer,
.row.row-trade,
.row.row-sl {
	margin: 10px 0;
	margin-bottom: 0px;
	font-family: $nunito;

	.card {
		min-height: 80px;
		position: relative;
		margin-bottom: 6px;

		.content {
			position: absolute;
			bottom: 15px;
			width: 90%;
			left: 15px;
			font-size: 1.1rem;
			z-index: 2;
		}

		.background {
			width: 65px;
			height: 65px;
			background-size: cover;
			position: absolute;
			top: -5px;
			right: -10px;
			opacity: .7;
		}
	}

	.col-payment {
		.background {
			background-image: url('../images/icon-payment.png');
		}
	}
	.col-offer {
		.background {
			background-image: url('../images/icon-offer.png');
		}
	}
	.col-sl {
		.background {
			background-image: url('../images/icon-shopping.png');
		}
	}
	.col-trade {
		.background {
			background-image: url('../images/icon-stockbit.jpg');
			border-radius: 50px;
		}
	}
	.col-trade {
		background: #fff;
		color: $black;
		.bg {
			width: 65%;
			max-width: 300px;
			right: -10px;
			bottom: -5px;
			position: absolute;
			z-index: 1;
			opacity: .32;
			img{
				width: 100%;
			}
		}
	}
}

.row.row-trade,
.row.row-sl {
	margin-top: -14px;
}

.row.index-menu {
	margin: 10px 0;
	margin-top: -12px;
	color: #fff;

	.col-6 {
		font-family: $nunito;
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0,0,0,0);
		font-size: .8rem;
		line-height: 132%;
		text-align: center;

		i {
			font-size: 1.32rem;
			margin-bottom: 10px;
			color: $blue;
		}
	}
}

.row.loyalty-card {
	.loyalty-card {

		width : 94%;
		padding-bottom: 48%;
		margin: 0 auto;
		position: relative;

		.card-box {
			width : 100%;
			padding-bottom: 62.5%;
			max-width: 450px;
			max-height: 350px;
			background-repeat: no-repeat;
			background-size: cover;
			position : absolute;
			border-radius: 12px;

			h6 {
				font-weight: 400;
				position: absolute;
				right: 15px;
				bottom: 15px;
				color: #fff;
				opacity: .5;
			}

			.content-frame {
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-0%);
				color: #fff;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
				font-family: $nunito;
			}
			.name {
				margin-top: 5px;
				font-size: 1.6rem;
			}

			.point {
				font-size: 1.8rem;
				font-weight: 600;

				.icon {
					width: 32px;
					height: 32px;
					display: inline-block;
					transform: translateY(5px);
				}
			}

			.date {
				font-size: .8rem;
			}

			.name, .date {
				padding-left: 0px;
			}

			&#platinum {
				background-image: url('../images/app-card-platinum.png');
				box-shadow: 7px 5px 20px 0px rgba(61, 62, 93, 0.2);
			}

			&#platinum-back {
				background-image: url('../images/app-card-platinum-back.png');
				box-shadow: 7px 5px 20px 0px rgba(61, 62, 93, 0.2);
			}

			.qr-code{
				width : 150px;
				height : 150px;
				position : absolute;
				top : 50%;
				transform: translateY(-50%);
				left : calc((100% - 150px) / 2);
				overflow : hidden;
				border-radius: 8px;
				background : #fff;
				opacity: 0;
				transition: all .2s ease-in-out;

				img {
					width: 100%;
				}
			}

			.card-title {
				width : 100%;
				position : realtive;
				margin : 20px 0;
			}
		}

		.flip-container.active {
			.qr-code {
				opacity: 1;
				transition: all .7s ease-in-out;
			}
		}
	} 

	.card-collection {
		position: relative;
		top: 0;
		padding: 15px;
		width: 100%;
		height: 250px;

		.cards{
				min-width: 100%;
				min-height: 300px;
				position:absolute;
				left:0;
				right:0;
				top:50%;
				margin:auto;
				transform:translateY(-50%);
			h1{
				margin:0;
				font-size:24px;
				text-align:center;
				font-weight:500;
				color:white;
				font-family: 'Nunito', sans-serif;
			}
			h2{
				margin:0;
				font-size:14px;
				text-align:center;
				font-weight:200;
				color: #A4C9EF;
				font-family: 'Nunito', sans-serif;
			}
			&_inner{
			    perspective:800px;
			    position:relative;
			    // top:60px;
			    .wrap{
					width: 320px;
					margin: 0 auto;
					position:relative;
					transform-style: preserve-3d;
			    }
			    .invalid{
					pointer-events:none;
					left:-180px !important;
					opacity:0;
					transition:all .23s;
			    }
			    .animate{
					transition:all .2s cubic-bezier(0.560, 2.150, 0.250, 0.715);
			    }
			    .card_in{
					opacity:0;
					transform:scale(1);
					margin-top:40px;
					animation: pop .6s .1s cubic-bezier(0.560, 1.750, 0.250, 0.715);
					right:0;
			    }
			    @keyframes pop{
					0%{margin-top:40px;opacity:0}
					100%{margin-top:0px;opacity:1}
			      
			    }
			    .card_in_two{
					opacity:1;
					transform:scale(1);
					margin-top:40px;
					transition:all .2s cubic-bezier(0.560, 2.150, 0.250, 0.715);
					margin-top:0px;
			    }
			    &__card{
					transition:transform .2s cubic-bezier(0.560, 2.150, 0.250, 0.715);
					position:absolute;
					margin-top:0px;
					left:0;
					right:0;
					top:50%;
					margin:auto;
					min-width:320px;
					min-height:200px;
					// background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
					// background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); 
					background-color: #f9f9f9;
					border-radius:12px;
					box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.22);
					cursor:pointer;
					overflow: hidden;

					h2 {
						font-size: 200px;
					    color: rgba(0, 0, 0, 0.1);
					    font-family: Nunito;
					    font-weight: 700;
					    position: absolute;
					    /* margin-left: -60px; */
					    bottom: -45px;
					    z-index: 1;
						
						&:before {
							content: "";
							font-size: 30px;
							color: #fff;
							font-family: $nunito;
							margin-left: -60px;
							bottom: 15px;
							z-index: 1;
						}
					}
					span.text {
						font-size: 200px;
					    color: rgba(0, 0, 0, 0.1);
					    font-family: Nunito;
					    font-weight: 700;
					    position: absolute;
					    /* margin-left: -60px; */
					    bottom: -45px;

					    &:before {
					    	content: "";
							font-size: 200px;
						    color: rgba(0, 0, 0, 0.1);
						    font-family: Nunito;
						    font-weight: 700;
						    /* margin-left: -60px; */
						    bottom: -45px;
					    }
					}

					.line-fig {
						position: absolute;
						right: -116px;
						bottom: -5px;
						transform: rotate(-45deg);
						span {
							width: 300px;
							height: 35px;
							display: block;
							background-color: rgba(0,0,0,.2);

							&:nth-child(2) {
								background-color: rgba(0,0,0,.4);
							}

							&:nth-child(3) {
								background-color: rgba(0,0,0,.6);
							}
						}
					}

			      	@for $i from 1 through 4{
				        &:nth-of-type(#{$i}){
				          top:(10px * $i);
				          transform:translateZ(0px + ($i * 60) - 240px)
				        }
			      	}
			    }
		  	}
		}
		.maestro .logo{
		  	background:url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/MasterCard_logo.png/640px-MasterCard_logo.png')  
		}
		.paypal .logo{
		  	background:url('https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png?01AD=3B28EURZY9Emi4KsrC-JAvZqhykcobygL70miwLcjbS3qGuX1m1ZgsQ&01RI=08D0AE0331EC9B2&01NA=');
		  	left: 58px;
		  	background-size: contain !important;
		  	top: 49px;
		}
		.logo{
			width: 100px;
			height: 70px;
			position: relative;
			background-repeat: no-repeat !important;
			left: 62px;
			background-size: contain !important;
			top: 29px;
		}
		.mastercard .logo{
			left: 73px;
			background-size: contain !important;
			top: 44px;
			width: 70px;
			height: 70px;
			background:url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Maestro_2016.svg/1200px-Maestro_2016.svg.png')
		}
		.visa .logo{
			left: 58px;
			background-size: contain !important;
			top: 45px; background:url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/2000px-Visa_Inc._logo.svg.png')
		}

		.hypermart {
			background-color: #2e86de;

			h2 {

				&:before {
					content: "Hypermart";
				}
			}

			span.text {

				&:before {
					content: "hyper";
				}
			}
		}

		.matahari {
			background-color: #ee5253;

			h2 {

				&:before {
					content: "Matahari";
				}
			}

			span.text {

				&:before {
					content: "matah";
				}
			}
		}

		.maxxcoffee {
			background-color: #10ac84;

			h2 {

				&:before {
					content: "Maxx Coffee";
				}
			}

			span.text {

				&:before {
					content: "maxx";
				}
			}
		}

		.cinemaxx {
			background-color: #feca57;

			h2 {

				&:before {
					content: "Cinemaxx";
				}
			}

			span.text {

				&:before {
					content: "maxx";
				}
			}
		}

		.points{
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			width: 100px;
			top: 50%;
			height: 0px;

			.active{
				background: #245484;
			}

			&_point{
				float:left;
				width:8px;
				display:inline-block;
				border-radius:10px;
				height:8px;
				background:#fff;
				margin-right:4px;
				position:relative;
				top:100px;
				left:26px
			}
		}
		h2 {
			position: absolute;
		    font-size: 11px;
		    text-align: center;
		    left: 50%;
		    bottom: -3px;
		    color: #fff;
		    transform: translateX(-50%);
		    font-weight: 300;
		}
	}
}

.overflow-sl-sm {
	.sl-sm-col {
		.card {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
}

.popup {
	$radius : 16px;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	width: 100vw;
	padding: 0 8px;
	left: 0;
	min-height: 350px;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	box-shadow: 0 0 0 999px rgba(0,0,0,.3);

	visibility: hidden;
	opacity: 0;
	transition: all .32s;
	bottom: -150px;

	.button-close {
		position: absolute;
	    top: -15px;
	    right: 15px;
	    height: 35px;
	    width: 35px;
	    font-size: 18px;
	    background-color: darken($red,5%);
	    border: 5px solid rgba(0,0,0,0);
	    border-radius: 50px;
	    text-align: center;
	    /* line-height: 20px; */
	    color: #fff;
	}

	&-header {
		margin-bottom: 15px;
		padding-bottom: 8px;
		border-bottom: 1px solid #ddd;
		h3 {
			font-weight: 500;
		}
	}

	&-body {
		position: relative;
		width: 100%;

		.start-input, .end-input {
			margin-bottom: 8px;
			// display: inline-block;

			.input {
				background-color: $dark-blue;
				padding: 0 5px;
				border-radius: 3px;
				color: #fff;
				margin-top: 3px;
			}

			input[type=date] {
			    height: 35px;
			    margin: 0 auto;
			    width: calc(94% - 10px);
			    font-family: $nunito;
			    font-size: 17px;
			    /* font-weight: bold; */
			    /* text-transform: uppercase; */
			    background-color: transparent;
			    outline: none;
			    border: 0;
			    padding: 0 3px;
			    color: #fff;
			}
		}

		.payment-method {
			margin-top: 65px;
			.card {
				min-height: 130px;
				background-color: #fff;
				color: $black;
				margin-bottom: 15px;
				transition: all .3s;

				&:nth-child(1) {
					// background-color: #a68dea;
				}
				&:nth-child(2) {
					// background-color: #20e084;
				}

				&.ovo.active {
					// border: 4px solid darken(#a68dea,10%);
					background-color: lighten(#6539b3,10%);
					color: #fff;
					box-shadow: 0 4px 12px rgba(98, 12, 228, .3);
					transition: all .3s;

					.dot {
						background-color: lighten(#6539b3,18%);
						border-color: darken(#6539b3,10%);
					}
				}

				&.gojek.active {
					// border: 4px solid darken(#20e084,10%);
					background-color: lighten(#20e084,10%);
					color: #fff;
					box-shadow: 0 4px 12px rgba(73, 243, 161, .5);
					transition: all .3s;

					.dot {
						background-color: #20e084;
						border-color: darken(#20e084,10%);
					}
				}

				.dot {
					position: absolute;
					left: 15px;
					top: 50%;
					transform: translate(0,-50%);
					height: 20px;
					width: 20px;
					background-color: $black;
					border-radius: 50px;
					border: 5px solid #ddd;
				}
			}
			.text {
				font-family: $nunito;
				font-size: 20px;
				position: absolute;
				bottom: 15px;
				left: 50%;
				transform: translate(-50%,0);
			}
			.icon {

				&.ovo {
					padding-top: 10px;

					img {
						height: 55px;
					}
				}

				&.gojek {
					padding-top: 20px;

					img {
						height: 35px;
					}
				}
			}
		}
	}

	&-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 20px 0;

		h5 {
			font-weight: 400;
			color: $black;
			margin-bottom: 8px;
			text-align: center;
			width: 86%;
			font-family: $nunito;
		}

		button {
			width: 86%;
			height: 35px;
			border: none;
			border-radius: 4px;
			padding: 5px;
			background-color: $blue;
			color: #fff;
			font-size: 18px;
		}
	}

	&.active {
		visibility: visible;
		opacity: 1;
		bottom: 0;
	}
}








	



















